# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

addons-window =
    .title = Հավելումների կառավարում
addons-page-title = Հավելումների կառավարում
search-header-shortcut =
    .key = f
loading-label =
    .value = Բեռնում...
list-empty-installed =
    .value = Դուք չունեք տեղակայված այս տեսակի հավելումներ
list-empty-available-updates =
    .value = Թարմացում չի գտնվել
list-empty-recent-updates =
    .value = Վերջին ժամանակներում դուք չեք թարմացրել որևէ հավելում
list-empty-find-updates =
    .label = Ստուգվում է թարմացումները
list-empty-button =
    .label = Կարդալ հավելումների մասին
install-addon-from-file =
    .label = Տեղակայեք հավելումը Ֆայլից...
    .accesskey = Տ
tools-menu =
    .tooltiptext = Գործիքներ բոլոր հավելումների համար
show-unsigned-extensions-button =
    .label = Որոշ ընդլայնումներ չեն կարող ստուգվել:
show-all-extensions-button =
    .label = Ցուցադրել բոլորը
debug-addons =
    .label = Վրիպազերծել հավելումները
    .accesskey = պ
cmd-show-details =
    .label = Ցուցադրել մանրամասն տեղեկություն
    .accesskey = Ց
cmd-find-updates =
    .label = Գտնել թարմացումներ
    .accesskey = Գ
cmd-preferences =
    .label =
        { PLATFORM() ->
            [windows] Կարգավորումներ
           *[other] Նախըտրանքներ
        }
    .accesskey =
        { PLATFORM() ->
            [windows] Կ
           *[other] Ն
        }
cmd-enable-theme =
    .label = Հագնել թեմա
    .accesskey = Հ
cmd-disable-theme =
    .label = Դադարեցնել թեմայի օգտագործումը
    .accesskey = թ
cmd-install-addon =
    .label = Տեղադրել
    .accesskey = Տ
cmd-contribute =
    .label = Ներդրում
    .accesskey = Ն
    .tooltiptext = Օգնել այս հավելման զարգացմանը
discover-title = Ի՞նչ են իրենցից ներկայացնում հավելումները:
discover-description = Հավելումները կիրառություններ են, որոնք ձեզ թույլ են տալիս անհատականացնել { -brand-short-name }-ը  առավել ֆունցիոնալությամբ կամ ոճով: Փորձեք ժամանակ տնտեսող վահանակը, եղանակի տեղեկատուն կամ այլ թեմատիկ տեսք` { -brand-short-name }-ը ձեր սեփականը դարձնելու համար:
discover-footer = Երբ դուք մուտք գործեք համացանց, այս վահանակը կցուցադրի լավագույն և ամենատարածված հավելումները, որպեսզի դուք դրանք փորձարկեք:
detail-version =
    .label = Տարբերակ
detail-last-updated =
    .label = Վերջին Թարմացումը
detail-contributions-description = Այս հավելման ստեղծողը խնդրում է, որ դուք աջակցեք հավելման զարգացմանը` կատարելով փոքր ներդրում:
detail-update-type =
    .value = Ինքնաշխատ Թարմացումներ
detail-update-default =
    .label = Լռելյայն
    .tooltiptext = Ինքնաբար տեղադրել թարմացումները, եթե միայն սա լռելյայն է
detail-update-automatic =
    .label = Միացնել
    .tooltiptext = Տեղադրել թարմացումները ինքնաբար:
detail-update-manual =
    .label = Անջատել
    .tooltiptext = Չտեղադրել թարմացումները ինքնաբար
detail-home =
    .label = Կայքէջը
detail-home-value =
    .value = { detail-home.label }
detail-repository =
    .label = Հավելումների պռոֆիլ
detail-repository-value =
    .value = { detail-repository.label }
detail-check-for-updates =
    .label = Ստուգել թարմացումները
    .accesskey = Ս
    .tooltiptext = Ստուգել այս հավելման թարմացումների առկայությունը
detail-show-preferences =
    .label =
        { PLATFORM() ->
            [windows] Կարգավորումներ
           *[other] Նախընտրանքներ
        }
    .accesskey =
        { PLATFORM() ->
            [windows] Կ
           *[other] Ն
        }
    .tooltiptext =
        { PLATFORM() ->
            [windows] Կարգավորել այս հավելումը
           *[other] Փոփոխել այս հավելման նախընտրանքները
        }
detail-rating =
    .value = Վարկանիշ
addon-restart-now =
    .label = Վերամեկնարկել հիմա
disabled-unsigned-heading =
    .value = Որոշ հավելումներ անջատվել են
disabled-unsigned-description = Հետևյալ հավելումները չեն ստուգվել { -brand-short-name }-ում: Դուք կարող եք <label data-l10n-name="find-addons">գտնել փոխարինում</label> կամ խնդրեք ստեղծողին ստուգել դրանք:
disabled-unsigned-learn-more = Իմանալ ավելին, թե ինչպես ենք մենք ապահովում Ձեր անվտանգությունը առցանց:
disabled-unsigned-devinfo = Ովքեր շահագրգռված են, որ իրենց հավելումները ստուգվեն, կարող են կարդալ մեր <label data-l10n-name="learn-more">ձեռնարկ</label>.
plugin-deprecation-description = Ինչ-որ բան բացակայու՞մ է: Որոշ բաղադրիչներ այլևս չեն աջակցվում { -brand-short-name }-ի կողմից: <label data-l10n-name="learn-more">Իմանալ ավելին:</label>
legacy-warning-show-legacy = Ցուցադրել հնացած ընդլայնումները
legacy-extensions =
    .value = Հնացած ընդլայնումներ
legacy-extensions-description = Այս ընդլայնումները չեն համապատասխանում { -brand-short-name }-ի պահանջներին և ապաակտիվացվել են: <label data-l10n-name="legacy-learn-more">Իմանալ ավելին հավելումների փոփոխությունների մասին</label>
extensions-view-recent-updates =
    .name = Վերջին Թարմացումները
    .tooltiptext = { extensions-view-recent-updates.name }
extensions-view-available-updates =
    .name = Առկա Թարմացումներ
    .tooltiptext = { extensions-view-available-updates.name }

## These are global warnings

extensions-warning-safe-mode-label =
    .value = Ապահով կերպը պասիվացրել է բոլոր հավելումները:
extensions-warning-safe-mode-container =
    .tooltiptext = { extensions-warning-safe-mode-label.value }
extensions-warning-check-compatibility-label =
    .value = Հավելումների համատեղելիության ստուգումը պասիվ է: Դուք կարող էք ունենալ անհամատեղելի հավելումներ:
extensions-warning-check-compatibility-container =
    .tooltiptext = { extensions-warning-check-compatibility-label.value }
extensions-warning-check-compatibility-enable =
    .label = Միացնել
    .tooltiptext = Միացնել հավելման համատեղելիության ստուգումը
extensions-warning-update-security-label =
    .value = Հավելումների թարմացման անվտանգության ստուգումը պասիվացված է: Թարմացումները կարող են վտանգավոր լինել ձեր համար:
extensions-warning-update-security-container =
    .tooltiptext = { extensions-warning-update-security-label.value }
extensions-warning-update-security-enable =
    .label = Միացնել
    .tooltiptext = Միացնել հավելման թարմացման անվտանգության ստուգումը
extensions-warning-safe-mode = Ապահով կերպը պասիվացրել է բոլոր հավելումները:
extensions-warning-check-compatibility = Հավելումների համատեղելիության ստուգումը պասիվ է: Դուք կարող էք ունենալ անհամատեղելի հավելումներ:
extensions-warning-check-compatibility-button = Միացնել
    .title = Միացնել հավելման համատեղելիության ստուգումը
extensions-warning-update-security = Հավելումների թարմացման անվտանգության ստուգումը պասիվացված է: Թարմացումները կարող են վտանգավոր լինել ձեր համար:
extensions-warning-update-security-button = Միացնել
    .title = Միացնել հավելման թարմացման անվտանգության ստուգումը

## Strings connected to add-on updates

extensions-updates-check-for-updates =
    .label = Ստուգել թարմացումները
    .accesskey = Ս
extensions-updates-view-updates =
    .label = Տեսնել Վերջին Թարմացումները
    .accesskey = Տ
addon-updates-check-for-updates = Ստուգել թարմացումները
    .accesskey = Ս
addon-updates-view-updates = Տեսնել Վերջին Թարմացումները
    .accesskey = Տ

# This menu item is a checkbox that toggles the default global behavior for
# add-on update checking.

extensions-updates-update-addons-automatically =
    .label = Թարմացնել հավելումները ինքնաբերաբար
    .accesskey = Թ
addon-updates-update-addons-automatically = Թարմացնել հավելումները ինքնաբերաբար
    .accesskey = Թ

## Specific add-ons can have custom update checking behaviors ("Manually",
## "Automatically", "Use default global behavior"). These menu items reset the
## update checking behavior for all add-ons to the default global behavior
## (which itself is either "Automatically" or "Manually", controlled by the
## extensions-updates-update-addons-automatically.label menu item).

extensions-updates-reset-updates-to-automatic =
    .label = Վերակայել բոլոր հավելումները՝ ինքնաշխատ թարմացնելու համար
    .accesskey = Վ
extensions-updates-reset-updates-to-manual =
    .label = Վերակայել հավելումները՝ դրանք ձեռքով թարմացնելու համար
    .accesskey = վ
addon-updates-reset-updates-to-automatic = Վերակայել բոլոր հավելումները՝ ինքնաշխատ թարմացնելու համար
    .accesskey = Վ
addon-updates-reset-updates-to-manual = Վերակայել հավելումները՝ դրանք ձեռքով թարմացնելու համար
    .accesskey = վ

## Status messages displayed when updating add-ons

extensions-updates-updating =
    .value = Հավելումները թարմացվում են
extensions-updates-installed =
    .value = Ձեր հավելումը թարմացվեց:
extensions-updates-downloaded =
    .value = Ձեր հավելումների թարմացումները բեռնվել են:
extensions-updates-restart =
    .label = Վերամեկնարկեք` տեղադրումը ավարտելու համար
extensions-updates-none-found =
    .value = Թարմացում չի գտնվել
extensions-updates-manual-updates-found =
    .label = Տեսնել Առկա Թարմացումները
extensions-updates-update-selected =
    .label = Տեղադրել Թարմացումները
    .tooltiptext = Տեղադրում է այս ցանկում առկա թարմացումները:
addon-updates-updating = Հավելումները թարմացվում են
addon-updates-installed = Ձեր հավելումը թարմացվեց:
addon-updates-none-found = Թարմացում չի գտնվել
addon-updates-manual-updates-found = Տեսնել Առկա Թարմացումները

## Add-on install/debug strings for page options menu

addon-install-from-file = Տեղակայեք հավելումը Ֆայլից...
    .accesskey = Տ
addon-install-from-file-dialog-title = Ընտրեք տեղադրվող հավելումը
addon-install-from-file-filter-name = Հավելումներ
addon-open-about-debugging = Վրիպազերծել հավելումները
    .accesskey = պ

## Extension shortcut management


## Recommended add-ons page


## Add-on actions


## Pending uninstall message bar


## Page headings

addon-page-options-button =
    .title = Գործիքներ բոլոր հավելումների համար
