# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Докладніше
accessibility-text-label-header = Текстові мітки та імена

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Попередження
accessibility-fail =
    .alt = Помилка
accessibility-best-practices =
    .alt = Найкращі рішення

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Використовуйте атрибут <code>alt</code> для позначення елементів <div>area</div>, що мають атрибут <span>href</span>. <a>Докладніше</a>
accessibility-text-label-issue-dialog = Діалогові вікна повинні бути позначені. <a>Докладніше</a>
accessibility-text-label-issue-document-title = Документи повинні мати <code>назву</code>. <a>Докладніше</a>
accessibility-text-label-issue-embed = Вбудований вміст повинен бути позначений. <a>Докладніше</a>
accessibility-text-label-issue-figure = Малюнки з необов'язковими заголовками повинні бути позначені. <a>Докладніше</a>
accessibility-text-label-issue-fieldset = Елементи <code>fieldset</code> повинні бути позначені. <a>Докладніше</a>
accessibility-text-label-issue-fieldset-legend = Використовуйте елемент <code>legend</code> для позначення елементів <span>fieldset</span>. <a>Докладніше</a>
accessibility-text-label-issue-form = Елементи форми повинні бути позначені. <a>Докладніше</a>
accessibility-text-label-issue-form-visible = Елементи форми повинні мати мітку з видимим текстом. <a>Докладніше</a>
accessibility-text-label-issue-frame = Елементи <code>frame</code> повинні бути позначені. <a>Докладніше</a>
accessibility-text-label-issue-glyph = Використовуйте атрибут <code>alt</code> для позначення елементів <span>mglyph</span>. <a>Докладніше</a>
accessibility-text-label-issue-heading = Заголовки повинні бути позначені. <a>Докладніше</a>
accessibility-text-label-issue-heading-content = Заголовки повинні мати видимий текстовий вміст. <a>Докладніше</a>
accessibility-text-label-issue-iframe = Використовуйте атрибут <code>title</code>, щоб описати вміст <span>iframe</span>. <a>Докладніше</a>
accessibility-text-label-issue-image = Вміст із зображеннями повинен бути позначений. <a>Докладніше</a>
accessibility-text-label-issue-interactive = Інтерактивні елементи повинні бути позначені. <a>Докладніше</a>
accessibility-text-label-issue-optgroup-label = Використовуйте атрибут <code>label</code> для позначення елементів <span>optgroup</span>. <a>Докладніше</a>
accessibility-text-label-issue-toolbar = Панелі інструментів повинні бути позначені, якщо існує більше однієї панелі інструментів. <a>Докладніше</a>
