# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

abuse-report-title-extension = Rapporter denne utvidinga til { -vendor-short-name }
abuse-report-title-theme = Rapporter dette temaet til { -vendor-short-name }
abuse-report-subtitle = Kva er problemet?
# Variables:
#   $author-name (string) - Name of the add-on author
abuse-report-addon-authored-by = av <a data-l10n-name="author-name">{ $author-name }</a>
abuse-report-submit-description = Beskriv problemet (valfritt)

## Panel buttons.

abuse-report-cancel-button = Avbryt
abuse-report-next-button = Neste
abuse-report-goback-button = Gå tilbake
abuse-report-submit-button = Send inn

## Message bars descriptions.


## Variables:
##   $addon-name (string) - Name of the add-on

abuse-report-messagebar-aborted = Rapport for <span data-l10n-name="addon-name">{ $addon-name }</span> vart anullert.
abuse-report-messagebar-submitting = Sender rapport for <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-submitted = Takk for at du sende inn ein rapport. Vil du fjerne <span data-l10n-name="addon-name">{ $addon-name }</span>?
abuse-report-messagebar-submitted-noremove = Takk for at du sende inn ein rapport.
abuse-report-messagebar-removed-extension = Takk for at du sende inn ein rapport. Du har fjerna utvidinga <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-removed-theme = Takk for at du sende inn ein rapport. Du har fjerna temaet <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error = Det oppsto ein feil ved sending av rapporten for <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error-recent-submit = Rapporten for <span data-l10n-name="addon-name">{ $addon-name }</span> vart ikkje sendt fordi ein annan rapport nettopp vart sendt inn.

## Message bars actions.

abuse-report-messagebar-action-remove-extension = Ja, fjern han
abuse-report-messagebar-action-keep-extension = Nei, eg vil behalde han
abuse-report-messagebar-action-remove-theme = Ja, fjern han
abuse-report-messagebar-action-keep-theme = Nei, eg vil behalde han
abuse-report-messagebar-action-retry = Prøv ein gong til
abuse-report-messagebar-action-cancel = Avbryt

## Abuse report reasons (optionally paired with related examples and/or suggestions)

abuse-report-damage-reason = Skadar datamaskina mi og dataa mine
abuse-report-damage-example = Døme: Injiserte skadeleg kode eller stal data
abuse-report-spam-reason = Viser spam eller reklamar
abuse-report-spam-example = Døme: Set inn reklame på nettsider
abuse-report-settings-reason = Endra søkjmotoren min, startsida eller ny fane utan å informere eller spørje meg
abuse-report-settings-suggestions = Før du rapporterer utvidinga, kan du prøve å endre innstillingane dine:
abuse-report-settings-suggestions-search = Endre standardinnstillingane dine for søking
abuse-report-settings-suggestions-homepage = Endre startside og ny fane-sida
abuse-report-deceptive-reason = Gjev seg ut for å vere noko den ikkje er
abuse-report-deceptive-example = Døme: villeiande skildring eller bilde
abuse-report-broken-reason-extension = Fungerer ikkje, øydeleggjer nettstadar, eller gjer { -brand-product-name } treg
abuse-report-broken-reason-theme = Verkar ikkje eller øydeleggjer utsjånaden til nettsida
abuse-report-policy-reason = Hatefullt, valdeleg, eller ulovleg innhald
abuse-report-unwanted-reason = Ville aldri ha denne utvidinga og greier ikkje å kvitte meg med henne
abuse-report-unwanted-example = Døme: Eit program installerte den utan løyve frå meg
abuse-report-other-reason = Noko anna
