/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/accountCreation.css");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: BUTTONS ::::: */

.important-button {
  font-weight: bold;
}

/* Set the order of the buttons to: (stop|re-test), (continue|create account), cancel */
#stop_button, #half-manual-test_button {
  -moz-box-ordinal-group: 1;
}
#next_button, #create_button {
  -moz-box-ordinal-group: 2;
}
#cancel_button {
  -moz-box-ordinal-group: 3;
}

.errordescription {
  padding-inline-start: 3px;
  margin-top: 3px;
}

.initialDesc, .columnHeader {
  margin-top: 2px;
  color: GrayText;
}

menulist[disabled="true"] {
  -moz-appearance: none;
  border: none;
  background-color: #fff;
  color: -moz-DialogText;
}

menulist[disabled="true"] > .menulist-editable-box,
menulist[disabled="true"] > .menulist-editable-box > .menulist-editable-input,
menulist[disabled="true"] > .menulist-dropmarker {
  -moz-appearance: none;
  color: -moz-DialogText;
}

#outgoing_protocol {
  width: 63px;
}

#config_status_title {
  font-weight: bold;
}

.warningicon {
  width: 16px;
  height: 16px;
  background: url("chrome://global/skin/icons/warning.svg") no-repeat;
}

.insecureLarry {
  height: 64px;
  width: 64px;
  padding: 0;
  background: url("chrome://global/skin/icons/sslWarning.png") no-repeat;
}

.secureLarry {
  height: 64px;
  width: 64px;
  padding: 0;
  background: url("chrome://messenger/skin/icons/identity.png") no-repeat;
}

.mastervbox {
  padding: 8px;
}

#warningbox {
  width: 650px;
  height: 400px;
  background: #333333 none repeat scroll 0% 0%;
  padding: 1em;
  overflow: auto;
}

.warning {
  padding: 2em;
  border-radius: 10px;
  background-color: #772222;
  border: 1px solid threedshadow;
}

.warning_text {
  color: white;
  font-size: 120%;
}

.warning_text > vbox {
  padding-top: 5px;
}

.warning-heading {
  border-bottom: 1px solid threedlightshadow;
  font-size: 160%;
  margin: 0px;
  padding: 2px 2px 1px;
}

.warning_settings {
  color: yellow;
  font-weight: bold;
  margin: 0px;
  margin-right: 2px;
}

.larrybox {
  padding-inline-end: 2em;
}

.acknowledge_checkbox {
  padding-top: .5em;
}

.title {
  font-weight: bold;
  padding: 0px 3px;
}

.details {
  font-style: italic;
  padding: 3px;
}

.popup-panel {
  padding: 2px 3px;
  background-color: #ffffc7;
  max-width: 320px;
}

/* Missing:
 * label.textbox-label
 * .protocol
 */

.protocol > label {
  padding-inline-start: 6px;
}

.security {
  width: 10em;
}

textbox.port {
  width: 4em;
}

textbox.username {
  width: 15em;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}

.host {
  width: 12em;
}

.outgoing_hostname {
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}

.technical_details {
  cursor: pointer;
  margin: 0px;
  padding-left: 20px;
  background: url("chrome://messenger/skin/section_collapsed.png") left 0 no-repeat;
}

.technical_details[expanded] {
  background-image: url("chrome://messenger/skin/section_expanded.png");
}

.autoconfigLabel {
  text-align: right;
}

.textbox-label {
  text-align: right;
}

textbox[disabled="true"],
input[disabled="true"],
menulist[disabled="true"] {
  -moz-appearance: none;
  border: 0;
  background-color: -moz-dialog;
  color: -moz-DialogText;
}

textbox.padded html|*.textbox-input::placeholder {
  font-style: normal;
}

.textbox-input-box {
  padding-top: 2px;
  padding-bottom: 1px;
}

.menulist-editable-box {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-inline-start: 5px;
}

@media (-moz-windows-default-theme: 0) {
  .menulist-label-box {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

/* status area */

#status_area[status=loading] #status_msg {
  font-weight: bold;
}

#status_area[status=error] #status_msg {
  font-weight: bold;
}

#status_area[status=error] #status_img_before {
  background: url("chrome://global/skin/icons/warning.svg") no-repeat;
  background-position-y: 1px;
  width: 16px;
  height: 16px;
}

#status_area[status=loading] #status_img_after {
  background: url("chrome://global/skin/icons/loading.png") no-repeat;
  width: 16px;
  height: 16px;
}

.menulist-dropmarker[disabled="true"] {
  visibility: hidden;
}

textbox.port[disabled="true"] {
  padding-top: 6px;
}

#outgoing_server_area {
  padding-top: 2px;
}

#incoming_protocol[disabled="true"] {
  padding-left: 6px;
}
