/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== folderMenus.css ================================================
  == Icons for menus which represent mail folder.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Don't apply the here needless -moz-image-region to the dropmarker. */
.menulist-dropmarker {
  -moz-image-region: unset;
}

/* ::::: Folder icons for menus   ::::: */

/* Folders */
.folderMenuItem {
  list-style-image: url("chrome://messenger/skin/icons/folder.png");
  -moz-image-region: rect(0 16px 16px 0);
}

.folderMenuItem[open="true"] {
  -moz-image-region: rect(0 32px 16px 16px);
}

/* Newsgroup */
.folderMenuItem[ServerType="nntp"] {
  -moz-image-region: rect(0 160px 16px 144px);
}

/* Feed folder */
.folderMenuItem[IsFeedFolder="true"] {
  list-style-image: url("chrome://messenger-newsblog/skin/rss-feed-folder.png");
  -moz-image-region: auto;
}

/* ..... special folders ..... */

.folderMenuItem[SpecialFolder="Inbox"] {
  -moz-image-region: rect(0 48px 16px 32px);
}

.folderMenuItem[SpecialFolder="Sent"] {
  -moz-image-region: rect(0 64px 16px 48px);
}

.folderMenuItem[SpecialFolder="Outbox"] {
  -moz-image-region: rect(0 80px 16px 64px);
}

.folderMenuItem[SpecialFolder="Drafts"] {
  -moz-image-region: rect(0 96px 16px 80px);
}

.folderMenuItem[SpecialFolder="Templates"] {
  -moz-image-region: rect(0 112px 16px 96px);
}

.folderMenuItem[SpecialFolder="Junk"] {
  -moz-image-region: rect(0 128px 16px 112px);
}

.folderMenuItem[SpecialFolder="Trash"] {
  -moz-image-region: rect(0 144px 16px 128px);
}

.folderMenuItem[SpecialFolder="Virtual"] {
  -moz-image-region: rect(0 176px 16px 160px);
}

/* ..... servers ..... */

.folderMenuItem[IsServer="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0 16px 16px 0);
}

.folderMenuItem[IsServer="true"][ServerType="imap"][IsSecure="true"],
.folderMenuItem[IsServer="true"][ServerType="pop3"][IsSecure="true"] {
  -moz-image-region: rect(0 32px 16px 16px);
}

/* Local folders */
.folderMenuItem[IsServer="true"][ServerType="none"] {
  -moz-image-region: rect(0 48px 16px 32px);
}

/* News server */
.folderMenuItem[IsServer="true"][ServerType="nntp"] {
  -moz-image-region: rect(0 64px 16px 48px);
}

.folderMenuItem[IsServer="true"][ServerType="nntp"][IsSecure="true"] {
  -moz-image-region: rect(0 80px 16px 64px) !important;
}

/* Feed server */
.folderMenuItem[IsServer="true"][ServerType="rss"] {
  list-style-image: url("chrome://messenger-newsblog/skin/rss-feed.png");
  -moz-image-region: rect(0 16px 16px 0);
}
