/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== mailWindow1.css ================================================
  == Styles for the main Mail window in the default layout scheme.
  ======================================================================= */

@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/primaryToolbar.css");
@import url("chrome://messenger/skin/folderMenus.css");
@import url("chrome://messenger/skin/folderPane.css");
@import url("chrome://messenger/skin/messageIcons.css");
@import url("chrome://messenger/skin/shared/mailWindow1.css");

#folderPane-toolbar {
  border-top-style: none;
  border-bottom: 1px solid ThreeDShadow;
}

/* Give viewPickerPopup a menu look */
#viewPickerPopup {
  background-color: menu;
}

#viewPickerPopup > menu,
#viewPickerPopup > menuitem {
  padding-inline-end: 1px;
}

#viewPickerPopup menu[_moz-menuactive="true"],
#viewPickerPopup menuitem[_moz-menuactive="true"] {
  color: -moz-MenuHoverText;
  background-color: -moz-MenuHover;
}

/* ::::: thread decoration ::::: */

treechildren::-moz-tree-row(dummy) {
  background-color: var(--row-grouped-header-bg-color) !important;
  border-color: transparent !important;
  padding-inline-start: 2px;
  margin: 1px;
}

treechildren::-moz-tree-row(dummy, hover),
treechildren::-moz-tree-row(dummy, selected, focus) {
  background-color: var(--row-grouped-header-bg-color-selected) !important;
  color: inherit;
}

treechildren::-moz-tree-cell-text(dummy) {
  font-weight: bold;
}

:root[lwt-tree] treechildren::-moz-tree-cell-text(dummy, selected) {
  color: var(--sidebar-highlight-text-color);
}

#correspondentCol {
  padding-inline-start: 20px;
}

/* ..... tabs ..... */

.tabmail-tab[type="message"][IsFeedMessage] {
  list-style-image: url("chrome://messenger-newsblog/skin/rss-feed.png");
  -moz-image-region: rect(32px 16px 48px 0);
  width: 16px;
  height: 16px;
}

#tabpanelcontainer {
  -moz-appearance: none;
}

/* ..... Draw in titlebar ..... */

#messengerWindow[sizemode="normal"] > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#messengerWindow[sizemode="maximized"] > #titlebar {
  -moz-appearance: -moz-window-titlebar-maximized;
}

@media (-moz-windows-classic) {
  #messengerWindow[tabsintitlebar] > #navigation-toolbox >
  #mail-toolbar-menubar2 {
    border-bottom: none;
  }

  #messengerWindow[tabsintitlebar][sizemode="normal"] >
  #navigation-toolbox > #mail-toolbar-menubar2 {
    margin-top: 4px;
  }
}

#titlebar-buttonbox-container {
  -moz-box-align: start;
}

/* The button box must appear on top of the navigator-toolbox in order for
 * click and hover mouse events to work properly for the button in the restored
 * window state. Otherwise, elements in the navigator-toolbox, like the menubar,
 * can swallow those events. It will also place the buttons above the fog on
 * themes with Aero Glass.
 */
#titlebar-buttonbox {
  z-index: 1;
}

#messengerWindow:not([tabsintitlebar]) #titlebar {
  visibility: collapse;
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
  position: relative;
}

#messengerWindow[sizemode="maximized"] #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box-maximized;
}

#titlebar-min {
  -moz-appearance: -moz-window-button-minimize;
}

@media (-moz-windows-classic: 0) {
  #titlebar-min {
    margin-inline-end: 2px;
  }
}

#titlebar-max {
  -moz-appearance: -moz-window-button-maximize;
}

#messengerWindow[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
  -moz-appearance: -moz-window-button-close;
}

#messengerWindow[tabsintitlebar] .titlebar-placeholder[type="caption-buttons"] {
  margin-inline-start: 10px; /* additional space for Aero Snap */
}

#messengerWindow:not([tabsintitlebar]) .titlebar-placeholder {
  visibility: collapse;
}

@media (-moz-os-version: windows-win7) and (-moz-windows-glass: 0) {
  #messengerWindow[tabsintitlebar]
    #mail-toolbar-menubar2:not([autohide]) + #tabs-toolbar >
    .titlebar-placeholder {
    visibility: collapse;
  }
}

/* Add extra space to titlebar for dragging */
:root[sizemode="normal"] #mail-toolbar-menubar2[autohide="true"][inactive] ~ #tabs-toolbar {
  padding-top: var(--space-above-tabbar);
}

@media (-moz-windows-compositor) {
  @media (-moz-os-version: windows-win7),
         (-moz-os-version: windows-win8) {
    :root {
      -moz-appearance: -moz-win-borderless-glass;
      background-color: transparent;
    }

    /* These should be hidden w/ glass enabled. Windows draws its own buttons. */
    .titlebar-button {
      display: none;
    }

    :root[sizemode="normal"] #titlebar-buttonbox:-moz-lwtheme {
      margin-top: -2px;
    }

    :root[sizemode="maximized"] #titlebar-buttonbox {
      margin-inline-end: 3px;
    }
  }

  /* Artificially draw window borders that are covered by lwtheme,
     see bug 591930. win7 are uses different colors than win8 */
  @media (-moz-os-version: windows-win7) {
    #messengerWindow[sizemode="normal"] > #titlebar >
    #titlebar-content:-moz-lwtheme {
      border-top: 1px solid;
      padding-top: 1px;
      border-top-color: rgb(37, 44, 51);
      box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    }

    #messengerWindow[sizemode="normal"] > #titlebar >
    #titlebar-content:-moz-lwtheme:-moz-window-inactive {
      border-top-color: rgb(102, 102, 102);
    }
  }

  @media (-moz-os-version: windows-win8) {
    #messengerWindow[sizemode="normal"] > #titlebar >
    #titlebar-content:-moz-lwtheme {
      border-top: 1px solid hsla(209, 67%, 12%, 0.35);
    }
  }

  @media (-moz-os-version: windows-win10) {
    @media (-moz-windows-default-theme) {
      :root:not(:-moz-lwtheme) {
        background-color: #d1d1d1;
      }

      :root[tabsintitlebar] #navigation-toolbox {
        margin-top: -1px;
      }

      :root[tabsintitlebar] #mail-toolbar-menubar2 {
        margin-top: 1px;
      }

      @media (-moz-windows-accent-color-in-titlebar: 0) {
        :root[sizemode=normal][tabsintitlebar] {
          border-top: 1px solid rgba(0,0,0,.7);
        }
        :root[sizemode=normal][tabsintitlebar][always-use-accent-color-for-window-border]:not(:-moz-window-inactive) {
          border-top-color: -moz-win-accentcolor;
        }
        :root[tabsintitlebar]:not(:-moz-window-inactive):not(:-moz-lwtheme) {
          background-color: #a8cbdb;
        }
      }

      @media (-moz-windows-accent-color-in-titlebar) {
        :root[sizemode=normal][tabsintitlebar] {
          border-top: 1px solid -moz-win-accentcolor;
        }
        :root[tabsintitlebar]:not(:-moz-window-inactive):not(:-moz-lwtheme),
        :root[tabsintitlebar]:not(:-moz-window-inactive)[lwt-default-theme-in-dark-mode] {
          background-color: -moz-win-accentcolor;
        }

        :root[tabsintitlebar] >
          #navigation-toolbox:not(:-moz-window-inactive):not(:-moz-lwtheme),
        :root[tabsintitlebar] >
          #navigation-toolbox:not(:-moz-window-inactive)[lwt-default-theme-in-dark-mode] {
          color: -moz-win-accentcolortext;
        }

        :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive)
          .titlebar-button {
          stroke: -moz-win-accentcolortext;
        }

        :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) #tabs-toolbar {
          --lwt-toolbarbutton-icon-fill: -moz-win-accentcolortext;
          --toolbarbutton-icon-fill-opacity: .7;
        }
      }

      :root[sizemode=normal][tabsintitlebar]:-moz-window-inactive {
        border-top-color: rgba(0,0,0,.3);
      }
    }

    @media (-moz-windows-default-theme: 0) {
      :root {
        -moz-appearance: -moz-win-glass;
        background-color: transparent;
      }

      #tabmail-container {
        -moz-appearance: -moz-win-exclude-glass;
      }
    }

    #titlebar-buttonbox,
    .titlebar-button {
      -moz-appearance: none !important;
    }

    .titlebar-button {
      border: none;
      margin: 0 !important;
      padding: 9px 17px;
      -moz-context-properties: stroke;
      stroke: currentColor;
    }

    @media (-moz-windows-default-theme) {
      @media (-moz-windows-accent-color-in-titlebar) {
        .titlebar-button:not(:-moz-window-inactive):not(:-moz-lwtheme) {
          stroke: -moz-win-accentcolortext;
        }
      }
    }

    .titlebar-button > .toolbarbutton-icon {
      width: 12px;
      height: 12px;
    }

    #titlebar-min {
      list-style-image: url(chrome://messenger/skin/window-controls/minimize.svg);
    }

    #titlebar-max {
      list-style-image: url(chrome://messenger/skin/window-controls/maximize.svg);
    }

    :root[sizemode="maximized"] #titlebar-max {
      list-style-image: url(chrome://messenger/skin/window-controls/restore.svg);
    }

    #titlebar-close {
      list-style-image: url(chrome://messenger/skin/window-controls/close.svg);
    }

    :root[lwtheme-image] .titlebar-button {
      -moz-context-properties: unset;
    }
    :root[lwtheme-image] #titlebar-min {
      list-style-image: url(chrome://messenger/skin/window-controls/minimize-themes.svg);
    }
    :root[lwtheme-image] #titlebar-max {
      list-style-image: url(chrome://messenger/skin/window-controls/maximize-themes.svg);
    }
    :root[lwtheme-image][sizemode="maximized"] #titlebar-max {
      list-style-image: url(chrome://messenger/skin/window-controls/restore-themes.svg);
    }
    :root[lwtheme-image] #titlebar-close {
      list-style-image: url(chrome://messenger/skin/window-controls/close-themes.svg);
    }

    /* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
     * rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
    @media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
      .titlebar-button > .toolbarbutton-icon {
        width: 11.5px;
        height: 11.5px;
      }
    }

    /* 175% dpi should result in the same device pixel sizes as 150% dpi. */
    @media (min-resolution: 1.70dppx) and (max-resolution: 1.95dppx) {
      .titlebar-button {
        padding-left: 14.1px;
        padding-right: 14.1px;
      }

      .titlebar-button > .toolbarbutton-icon {
        width: 10.8px;
        height: 10.8px;
      }
    }

    /* 225% dpi should result in the same device pixel sizes as 200% dpi. */
    @media (min-resolution: 2.20dppx) and (max-resolution: 2.45dppx) {
      .titlebar-button {
        padding-left: 15.3333px;
        padding-right: 15.3333px;
      }

      .titlebar-button > .toolbarbutton-icon {
        width: 10.8px;
        height: 10.8px;
      }
    }

    /* 275% dpi should result in the same device pixel sizes as 250% dpi. */
    @media (min-resolution: 2.70dppx) and (max-resolution: 2.95dppx) {
      /* NB: todo: this should also change padding on the buttons
       * themselves, but without a device to test this on, it's
       * impossible to know by how much. */
      .titlebar-button > .toolbarbutton-icon {
        width: 10.8px;
        height: 10.8px;
      }
    }

    @media (-moz-windows-default-theme) {
      .titlebar-button:hover {
        background-color: hsla(0, 0%, 0%, .12);
      }

      .titlebar-button:hover:active {
        background-color: hsla(0, 0%, 0%, .22);
      }

      .titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
        opacity: 0.5;
      }

      #titlebar-close:hover {
        stroke: white;
        background-color: hsl(355, 86%, 49%);
      }

      #titlebar-close:hover:active {
        background-color: hsl(355, 82%, 69%);
      }

      .titlebar-button:-moz-lwtheme-brighttext:hover {
        background-color: hsla(0, 0%, 100%, .12);
      }

      .titlebar-button:-moz-lwtheme-brighttext:hover:active {
        background-color: hsla(0, 0%, 100%, .22);
      }
    }
    @media (-moz-windows-default-theme: 0) {
      .titlebar-button {
        stroke: ButtonText;
        background-color: -moz-field;
      }
      .titlebar-button:hover {
        stroke: HighlightText;
        background-color: Highlight;
      }

      #titlebar-min {
        list-style-image: url(chrome://messenger/skin/window-controls/minimize-highcontrast.svg);
      }

      #titlebar-max {
        list-style-image: url(chrome://messenger/skin/window-controls/maximize-highcontrast.svg);
      }

      :root[sizemode="maximized"] #titlebar-max {
        list-style-image: url(chrome://messenger/skin/window-controls/restore-highcontrast.svg);
      }

      #titlebar-close {
        list-style-image: url(chrome://messenger/skin/window-controls/close-highcontrast.svg);
      }
    }
  }
}

#folderpane_splitter,
#threadpane-splitter:not([orient="vertical"]) {
  border-width: 0;
  min-width: 0;
  width: 5px;
  background-color: transparent;
  margin-top: 0;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#folderpane_splitter {
  border-inline-start: 1px solid var(--splitter-color);
  /* make only the splitter border visible */
  margin-inline-end: -4px;
}

#folderpane_splitter[state="collapsed"]:hover {
  border-inline-start: 4px solid highlight;
}

#threadpane-splitter:not([orient="vertical"]) {
  border-inline-end: 1px solid var(--splitter-color);
  /* make only the splitter border visible */
  margin-inline-start: -4px;
}

#threadpane-splitter[state="collapsed"]:not([orient="vertical"]):hover {
  border-inline-end: 4px solid highlight;
}

#threadpane-splitter,
#attachment-splitter {
  border-width: 0;
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-top: -5px;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#threadpane-splitter {
  border-bottom: 1px solid var(--splitter-color);
}

#attachment-splitter {
  border-bottom: 1px solid #a9b7c9;
}

#attachment-splitter:not([state="collapsed"]) {
  border-bottom: 1px solid transparent;
}

#attachment-splitter,
#threadpane-splitter[state="collapsed"] {
  transition: border-color .3s;
}

#threadpane-splitter[state="collapsed"]:hover,
#attachment-splitter[state="collapsed"]:hover {
  border-bottom: 4px solid highlight;
}

#messagepanebox {
  border-top-width: 0;
  border-inline-start: none;
}

#viewPickerPopup menu,
#viewPickerPopup menuitem {
  -moz-appearance: none;
}

@media (-moz-windows-default-theme) {
  menulist,
  menulist[disabled="true"] {
    -moz-appearance: none;
    min-height: 24px;
    color: inherit;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 5px 1px !important;
    border: 1px solid var(--toolbarbutton-hover-bordercolor);
    background: var(--toolbarbutton-hover-background);
    box-shadow: var(--toolbarbutton-hover-boxshadow);
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
  }

  menulist[disabled="true"] {
    opacity: 0.5;
  }

  menulist:not([disabled="true"]):not([open="true"]):hover {
    background: var(--toolbarbutton-active-background);
    border-color: var(--toolbarbutton-active-bordercolor);
  }

  menulist[open="true"] {
    background: var(--toolbarbutton-active-background);
    border-color: var(--toolbarbutton-active-bordercolor);
    box-shadow: var(--toolbarbutton-active-boxshadow);
  }

  menulist[disabled="true"] {
    opacity: .6;
  }

  .menulist-dropmarker {
    -moz-appearance: none;
    -moz-box-align: center;
    -moz-box-pack: center;
    list-style-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow.svg");
    -moz-image-region: auto !important;
    -moz-context-properties: fill;
    fill: currentColor;
    margin-top: 0;
  }

  .menulist-dropmarker > .dropmarker-icon {
    width: 9px;
    height: 7px;
  }

  #viewPickerPopup > menu,
  #viewPickerPopup > menuitem {
    margin: 1px;
  }

  #viewPickerPopup menu,
  #viewPickerPopup menuitem {
    height: 2em;
    border: 1px solid transparent;
  }

  #folderPaneHeader {
    -moz-appearance: none;
    background-color: #f8f8f8;
    border-top: 0px;
    border-bottom: 1px solid #a9b1b8;
  }

  :root:not([lwt-tree]) #folderTree {
    background-color: #fafafa;
  }

  #folderTree treechildren::-moz-tree-cell(dropOn) {
    background-image: linear-gradient(rgba(255, 255, 255, .7),
                                      rgba(255, 255, 255, .45));
    background-color: Highlight;
    border-radius: 3px;
  }

  #folderTree treechildren::-moz-tree-cell-text(dropOn) {
    color: -moz-FieldText;
  }

  treechildren::-moz-tree-line(selected, focus),
  tree[seltype="cell"] > treechildren::-moz-tree-line(active, selected, focus) {
    border-color: -moz-DialogText;
  }

  #viewPicker > .menulist-label-box > .menulist-label,
  #locationFolders > .menulist-label-box > .menulist-label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

#viewPicker > .menulist-label-box > .menulist-icon,
#locationFolders > .menulist-label-box > .menulist-icon {
  min-height: 16px;
}

@media (-moz-os-version: windows-win7) and (-moz-windows-default-theme) {
  @media (-moz-windows-glass: 0) {
    #messengerWindow:not([tabsintitlebar]) > #navigation-toolbox:not(:-moz-lwtheme) {
      background-color: #d1d1d1;
    }
  }

  menulist {
    border-radius: 2px;
  }

  menulist[open="true"] {
    text-shadow: none;
    transition: none;
  }

  #viewPickerPopup menu,
  #viewPickerPopup menuitem {
    border-radius: 2px;
  }

  #viewPickerPopup menu[_moz-menuactive="true"],
  #viewPickerPopup menuitem[_moz-menuactive="true"] {
    color: -moz-DialogText;
    border-color: rgb(184, 214, 251);
    background-image: linear-gradient(rgba(131, 183, 249, .05), rgba(131, 183, 249, .16));
    background-color: transparent;
  }
}

@media (-moz-os-version: windows-win7) and (-moz-windows-default-theme),
       (-moz-os-version: windows-win8) and (-moz-windows-default-theme) {
  @media (-moz-windows-compositor) {
    :root:not(:-moz-lwtheme) {
      --tabs-border-color: var(--glassShadowColor);
    }

    #messengerWindow[sizemode=normal] #tabpanelcontainer {
      border: 1px solid var(--glassShadowColor);
      border-top: none;
      background-clip: padding-box;
    }

    #messengerWindow[sizemode=normal] #mail-toolbar-menubar2 {
      border-right: 1px solid var(--glassShadowColor);
      border-left: 1px solid var(--glassShadowColor);
      background-clip: padding-box;
    }

    #messengerWindow[sizemode=normal] .statusbar {
      margin-top: -1px;
      border: 1px solid var(--glassShadowColor);
      border-top-color: threedshadow;
      border-radius: 1px 1px 0 0;
      background-clip: padding-box;
    }
  }
}

@media (-moz-os-version: windows-win8) and (-moz-windows-default-theme),
       (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  #folderPane-toolbar {
    border-bottom-color: #c2c2c2;
  }
}

@media (-moz-os-version: windows-win8) and (-moz-windows-default-theme) {
  #messengerWindow:not([tabsintitlebar]) > #navigation-toolbox:not(:-moz-lwtheme) {
    background-color: #d1d1d1;
  }

  #viewPickerPopup menu[_moz-menuactive="true"],
  #viewPickerPopup menuitem[_moz-menuactive="true"] {
    color: -moz-DialogText;
    border-color: rgb(132, 172, 221);
    background-color: rgba(131, 183, 249, .16);
  }
}

@media (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  #viewPickerPopup menu[_moz-menuactive="true"],
  #viewPickerPopup menuitem[_moz-menuactive="true"] {
    background-color: #91c9f7;
  }
}

@media (-moz-windows-glass) {
  /* lesser transparency on Glass background */
  #tabbar-toolbar menulist:not(:-moz-lwtheme):not([open="true"]) {
    background-color: rgba(227, 237, 246, .7);
  }

  /* lesser transparency on Glass background */
  #tabbar-toolbar menulist:not(:-moz-lwtheme):not([open="true"]):hover {
    background-color: rgba(136, 197, 213, .85);
  }

  #tabbar-toolbar #viewPickerLabel:not(:-moz-lwtheme):not(:-moz-window-inactive) {
    margin-inline-start: 4px;
    margin-inline-end: 0;
    padding-inline-start: 2px;
    padding-inline-end: 5px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 4px;
  }

  #folderPane-toolbar {
    border-bottom-color: #aabccf;
  }
}

#viewPicker > .menulist-label-box > .menulist-icon,
#locationFolders > .menulist-label-box > .menulist-icon {
  min-height: 16px;
}

#viewPickerPopup > menu > .menu-text {
  -moz-appearance: none;
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
}

#viewPickerTagsPopup > menuitem > .menu-iconic-text,
#viewPickerCustomViewsPopup > menuitem > .menu-iconic-text {
  padding: 1px 3px;
}

@media (-moz-windows-compositor: 0) {
  #mail-toolbar-menubar2[autohide="false"] +
  #tabs-toolbar > .titlebar-placeholder {
    display: none;
  }

  @media (-moz-windows-default-theme) {
    #messengerWindow:not(:-moz-lwtheme) {
      background-color: rgb(185, 209, 234);
    }
    #messengerWindow:not(:-moz-lwtheme):-moz-window-inactive {
      background-color: rgb(215, 228, 242);
    }
  }
}
