/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/content/menulist.css");

menulist[is="menulist-editable"][editable="true"] {
  padding: 0;
}

.menulist-input {
  -moz-appearance: none;
  border-style: none;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-inline-start: -2px;
  margin-inline-end: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-start: 3px;
  padding-inline-end: 0;
}

@media (-moz-os-version: windows-win7) and (-moz-windows-default-theme: 0) {
  html|input.menulist-input {
    margin-top: 0;
    margin-bottom: 0;
    margin-inline-start: 0;
  }
}

@media (-moz-os-version: windows-win10) and (-moz-windows-default-theme: 0) {
  html|input.menulist-input {
    margin-top: -1px;
    margin-bottom: -1px;
    margin-inline-start: 0;
  }
}

menulist[is="menulist-editable"][editable="true"] .menulist-dropmarker {
  display: -moz-box;
}

@media (-moz-windows-default-theme) {
  menulist[is="menulist-editable"][editable="true"] > .menulist-dropmarker {
    margin-inline-end: 0;
    margin-inline-start: 0;
  }
}
