/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/in-content/aboutPreferences.css");
@namespace html "http://www.w3.org/1999/xhtml";

.dialogBox,
#MailPreferences prefpane {
  font-size: 1.36em;
}

radio[pane] > .radio-label-box {
  font-size: 1.46em;
}

radio[pane][focused="true"] > .radio-check {
  outline: none;
}

html|h2 {
  border-bottom-width: 0;
  padding-bottom: 2px !important;
  padding-inline-start: 0;
}

groupbox > .groupbox-body {
  padding: 0;
}

html|input[type="number"]::-moz-number-spin-up,
html|input[type="number"]::-moz-number-spin-down {
  min-height: 11px;
}

menulist:not([popuponly="true"]) {
  min-height: 30px;
}

radio[pane] {
  text-shadow: none;
}

radio[pane][selected] {
  border-image: none;
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  margin-top: 2px;
  margin-inline-start: 2px;
  margin-inline-end: 8px !important;
}

.sidebar-footer-label {
  font-size: 1.224em;
}

tab:-moz-focusring > .tab-middle > .tab-text {
  outline: none;
}

/**
 * Dialog
 */

#dialogTitle {
  font-size: 1.1em;
}

/* Add to Cookies dialog a bottom padding */
#CookiesDialog > hbox > .actionButtons {
  padding-bottom: 10px;
}

#defaultWebSearchPopup > menuitem > .menu-iconic-left {
  margin-inline-start: 5px;
  margin-inline-end: 3px;
}
