# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Om utvecklingsverktyg
enable-title = Aktivera Firefox utvecklingsverktyg
enable-inspect-element-title = Aktivera Firefox utvecklingsverktyg för att använda Inspektera element
enable-inspect-element-message = Utforska och redigera HTML och CSS med utvecklarverktygets inspektör.
enable-about-debugging-message = Utveckla och felsök WebExtensions, webb-workers, service-workers och mer med Firefox utvecklingsverktyg.
enable-key-shortcut-message = Du aktiverade en genväg till utvecklingsverktygen. Om det var ett misstag kan du stänga den här fliken.
enable-menu-message = Förbättra din webbplats HTML, CSS och JavaScript med verktyg som inspektören och avlusaren.
enable-common-message = Firefox utvecklingsverktyg är vanligtvis avstängda för att ge dig större kontroll över din webbläsare.
enable-learn-more-link = Lär dig mer om utvecklingsverktyg
enable-enable-button = Aktivera utvecklingsverktyg
enable-close-button = Stäng denna flik
welcome-title = Välkommen till Firefox utvecklingsverktyg!
newsletter-title = Nyhetsbrev Mozilla Developer
newsletter-message = Få nyheter om utveckling, tricks och resurser skickade direkt till din inkorg.
newsletter-email-placeholder =
    .placeholder = E-post
newsletter-privacy-label = Det är okej för mig att Mozilla hanterar min information som förklaras i denna <a data-l10n-name="privacy-policy">sekretesspolicy</a>.
newsletter-subscribe-button = Prenumerera
newsletter-thanks-title = Tack!
newsletter-thanks-message = Om du inte tidigare har bekräftat en prenumeration på ett Mozilla-relaterat nyhetsbrev måste du kanske göra det. Kontrollera din inkorg eller ditt spamfilter efter ett mejl från oss.
footer-title = Firefox Developer Edition
footer-message = Letar du efter mer än bara utvecklingsverktyg? Kolla in Firefox:s webbläsare som är byggd speciellt för utvecklare och moderna arbetsflöden.
footer-learn-more-link = Läs mer
features-learn-more = Läs mer
features-inspector-title = Inspektör
features-inspector-desc = Inspektera och förbättra koden för att skapa pixel-perfekta layouter. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsol
features-console-desc = Spåra CSS, JavaScript, säkerhet och nätverksproblem. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Avlusare
features-debugger-desc = Kraftfull JavaScript-avlusare med stöd för din framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Nätverk
features-network-desc = Övervaka nätverksförfrågningar som kan sakta ner eller blockera din webbplats. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Lagring
features-storage-desc = Lägg till, ändra och ta bort cache, kakor, databaser och sessionsdata. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Följsamt designläge
features-responsive-desc = Testa webbplatser på emulerade enheter i din webbläsare. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Visuell redigering
features-visual-editing-desc = Finjustera animeringar, placeringar och utfyllnad. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Prestanda
features-performance-desc = Ta bort flaskhalsar, effektivisera processer, optimera tillgångar. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Minne
features-memory-desc = Hitta minnesläckor och gör ditt program snabbare. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Prenumerationsförfrågan misslyckades ({ $errorDescription }).
newsletter-error-unknown = Ett oväntat fel har uppstått.
newsletter-error-timeout = Prenumerationsförfrågan avbröts.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Du har lyckats aktivera utvecklingsverktyg! För att komma igång, utforska menyn Webbutvecklare eller öppna verktygen med { $shortcut }.
