/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#amServerSetting {
  display: inline-grid;
  grid-template-columns: max-content auto auto;
}

#amServerSetting div:not([hidden]) {
  /* Do not override display: none when hidden. */
  display: flex;
  align-items: center;
}

#amServerSetting textbox.textbox-flex {
  flex-grow: 1;
  display: flex;
}

#amServerSetting textbox.textbox-flex > moz-input-box {
  flex-grow: 1;
}

#amServerSetting textbox.textbox-flex > moz-input-box > .textbox-input {
  min-width: -moz-available;
}
