/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/in-content/aboutPreferences.css");
@namespace html "http://www.w3.org/1999/xhtml";

.dialogBox,
#MailPreferences prefpane {
  font-size: 1.25em;
}

radio[pane] > .radio-label-box {
  font-size: 1.34em;
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  margin-inline-end: 9px;
}

html|h2 {
  background-color: transparent;
}

.sidebar-footer-label {
  font-size: 1.125em;
}

html|input[type="number"]::-moz-number-spin-up,
html|input[type="number"]::-moz-number-spin-down {
  min-height: 13px;
}

/**
 * Dialog
 */

#dialogTitle {
  font-size: 1.05em;
}
