# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = 더 알아보기
accessibility-text-label-header = 텍스트 레이블 및 이름

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = 경고
accessibility-fail =
    .alt = 오류
accessibility-best-practices =
    .alt = 모범 사례

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = <code>alt</code> 속성을 사용하여 <span>href</span> 속성이 있는 <div>area</div> 요소에 레이블을 지정합니다. <a>더 알아보기</a>
accessibility-text-label-issue-dialog = 대화 상자에 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-document-title = 문서에 <code>title</code>이 있어야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-embed = 포함된 콘텐츠에 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-figure = 선택적 캡션이 있는 그림에 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-fieldset = <code>fieldset</code> 요소에 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-fieldset-legend = <code>legend</code> 요소를 사용하여 <span>fieldset</span> 요소에 레이블을 지정합니다. <a>더 알아보기</a>
accessibility-text-label-issue-form = 양식 요소에 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-form-visible = 양식 요소에 보이는 텍스트 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-frame = <code>frame</code> 요소에 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-glyph = <code>alt</code> 속성을 사용하여 <span>mglyph</span> 요소에 레이블을 지정합니다. <a>더 알아보기</a>
accessibility-text-label-issue-heading = 제목에 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-heading-content = 제목에 보이는 텍스트 콘텐츠가 있어야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-iframe = <code>title</code> 속성을 사용하여 <span>iframe</span> 콘텐츠를 설명하십시오. <a>더 알아보기</a>
accessibility-text-label-issue-image = 이미지가 있는 콘텐츠에는 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-interactive = 대화형 요소에 레이블을 지정해야 합니다. <a>더 알아보기</a>
accessibility-text-label-issue-optgroup-label = <code>label</code> 속성을 사용하여 <span>optgroup</span> 요소에 레이블을 지정합니다. <a>더 알아보기</a>
accessibility-text-label-issue-toolbar = 도구 모음이 두 개 이상 있는 경우 도구 모음에 레이블을 지정해야 합니다. <a>더 알아보기</a>
