# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Әзірлеуші құралдары жөнінде
enable-title = Firefox әзірлеуші құралдарын іске қосу
enable-inspect-element-title = Элементті бақылаушыны қолдану үшін Firefox Әзірлеуші құралдарын іске қосыңыз
enable-inspect-element-message = Әзірлеуші құралдарының Бақылаушысы көмегімен HTML мен CSS зерттеу және түзету.
enable-about-debugging-message = Firefox Әзірлеуші құралдары көмегімен WebExtensions, Web workers, Service workers және көптеген т.б. әзірлеу және жөндеу.
enable-key-shortcut-message = Сіз Әзірлеуші құралдар жарлығын белсендірдіңіз. Бұл әрекет қате болса, бұл бетті жаба аласыз.
enable-menu-message = Бақылаушы және Жөндеуші сияқты құралдармен веб-сайтыңыздың HTML, CSS және JavaScript кодтарын жақсартыңыз.
enable-common-message = Firefox Әзірлеуші құралдары үнсіз келісім бойынша сөндірілген, ол сізге браузерді жақсырақ басқаруға мүмкіндік береді.
enable-learn-more-link = Әзірлеуші құралдары туралы көбірек білу
enable-enable-button = Әзірлеуші құралдарын іске қосу
enable-close-button = Бұл бетті жабу
welcome-title = Firefox әзірлеуші құралдарына қош келдіңіз!
newsletter-title = Әзірлеушілерге арналған Mozilla жаңалықтар таратуы
newsletter-message = Әзірлеушілер жаңалықтары, кеңестері және ресурстарды тікелей кіріс бумаңызға алыңыз.
newsletter-email-placeholder =
    .placeholder = Эл. пошта
newsletter-privacy-label = Мен Mozilla-ның менің ақпаратымды мына <a data-l10n-name="privacy-policy">Құпиялылық саясатында</a> көрсетілгендей өңдейтінімен келісемін.
newsletter-subscribe-button = Жазылу
newsletter-thanks-title = Рахмет!
newsletter-thanks-message = Mozilla-ға байланысты жаңалықтар таспасына жазылуды осыған дейін растамаған болсаңыз, оны жасауыңыз керек болуы мүмкін. Поштаңыздың кіріс және спам бумаларынан бізден хатты іздеңіз.
footer-title = Firefox Developer Edition
footer-message = Әзірлеуші құралдарынан көбірек бірнәрсе іздедіңіз бе? Әзірлеушілер және заманауи жұмыс тәртібі үшін арнайы жасалған Firefox браузерін қолданып көріңіз.
footer-learn-more-link = Көбірек білу
features-learn-more = Көбірек білу
features-inspector-title = Бақылаушы
features-inspector-desc = Пиксельдік дәлдікті жайманы құрастыру үшін кодты бақылап, түзетіңіз. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Консоль
features-console-desc = CSS, JavaScript, қауіпсіздік және желілік мәселелерді бақылау. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Жөндеуші
features-debugger-desc = Фреймворкіңізді қолдайтын мүмкіндіктері көп JavaScript жөндеушісі. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Желі
features-network-desc = Сайтыңызды тежеп, немесе бұғаттай алатын желілік сұратулар жөнінде көбірек біліңіз. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Сақтауыш
features-storage-desc = Кэш, cookies файлдары, дерекқор және сессия деректерін қосу, өзгерту немесе өшіру. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Адаптивті дизайн режимі
features-responsive-desc = Сайттарды браузерде эмуляцияланатын құрылғыларда сынаңыз. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Визуалды түзету
features-visual-editing-desc = Анимациялар, туралау және шегінулерді дәлдеп түзетіңіз. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Өнімділік
features-performance-desc = Тар жерлерді босатып, үрдістерді түзетіп, өнімділікті ыңғайлатыңыз. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Жады
features-memory-desc = Жады жоғалуын тауып, қолданбаңызды жылдам қылыңыз. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Жазылуға сұраным сәтсіз аяқталды ({ $errorDescription }).
newsletter-error-unknown = Күтілмеген қате орын алған.
newsletter-error-timeout = Жазылуға сұранымның мерзімі аяқталды.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Сіз Әзірлеуші құралдарын сәтті белсендірдіңіз! Бастау үшін, Веб әзірлеуші мәзірін шолыңыз, немесе { $shortcut } арқылы құралдарды ашыңыз.
