# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = O vývojárskych nástrojoch
enable-title = Povoliť vývojárske nástroje Firefoxu
enable-inspect-element-title = Povoľte vývojárske nástroje a preskúmajte prvok
enable-inspect-element-message = Preskúmajte a upravte HTML a CSS pomocou prieskumníka vo vývojárskych nástrojoch.
enable-about-debugging-message = Pomocou vývojárskych nástrojov môžete vo Firefoxe vyvíjať a ladiť doplnky typu WebExtensions, web a service workery a ďalšie.
enable-key-shortcut-message = Aktivovali ste skratku pre otvorenie vývojárskych nástrojov. Ak ste sa pomýlili, môžete túto kartu zavrieť.
enable-menu-message = Vylepšite HTML, CSS a JavaScript na svojich stránkach pomocou nástrojov, ako sú napríklad prieskumník či nástroj na ladenie.
enable-common-message = Vývojárske nástroje sú v predvolenom nastavení pre vašu väčšiu kontrolu nad svojim prehliadačom vypnuté.
enable-learn-more-link = Ďalšie informácie o vývojárskych nástrojoch
enable-enable-button = Povoliť vývojárske nástroje
enable-close-button = Zavrieť túto kartu
welcome-title = Vítajú vás vývojárske nástroje!
newsletter-title = Mozilla Developer Newsletter
newsletter-message = Nechajte si posielať vývojárske novinky, triky a zdroje priamo do svojej schránky.
newsletter-email-placeholder =
    .placeholder = E-mail
newsletter-privacy-label = Beriem na vedomie, že Mozilla spracuje tieto údaje v súlade so <a data-l10n-name="privacy-policy">zásadami ochrany súkromia</a>.
newsletter-subscribe-button = Odoberať
newsletter-thanks-title = Ďakujeme!
newsletter-thanks-message = Ak ste v minulosti nepotvrdili odber noviniek Mozilly, budete to musieť urobiť teraz. Pozrite sa, prosím, do vašej e-mailovej schránky, prípadne i do priečinka s nevyžiadanou poštou, či sa tam nenachádza e-mail od nás.
footer-title = Firefox Developer Edition
footer-message = Hľadáte viac, než len vývojárske nástroje? Vyskúšajte verziu Firefoxu vytvorenú špeciálne pre vývojárov a moderné pracovné postupy.
footer-learn-more-link = Ďalšie informácie
features-learn-more = Ďalšie informácie
features-inspector-title = Prieskumník
features-inspector-desc = Skúmajte a upravujte kód stránok. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konzola
features-console-desc = Sledujte CSS, JavaScript a bezpečnostné a sieťové problémy. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Ladenie
features-debugger-desc = Ladenie JavaScriptu priamo v prehliadači. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Sieťová aktivita
features-network-desc = Monitorujte sieťové požiadavky, ktoré spomaľujú alebo blokujú vašu stránku. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Úložisko
features-storage-desc = Pridávajte, upravujte alebo odstraňujte vyrovnávaciu pamäť, cookies, databázy či údaje relácií. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Režim Responsive Design
features-responsive-desc = Testujte stránky na emulátore zariadení priamo v prehliadači. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Vizuálne úpravy
features-visual-editing-desc = Vylaďte animácie, zarovnanie a odsadenie. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Výkon
features-performance-desc = Odhaľte problematické miesta, zjednodušte procesy a optimalizujte assety. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Pamäť
features-memory-desc = Preskúmajte spotrebu pamäte svojej aplikácie a vylaďte ju. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Požiadavka o prihlásenie sa na odber zlyhala ({ $errorDescription }).
newsletter-error-unknown = Nastala neočakávaná chyba.
newsletter-error-timeout = Časový limit požiadavky o prihlásenie sa na odber vypršal.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Úspešne ste povolili vývojárske nástroje! Pre začiatok preskúmajte ponuku Webový vývojár alebo otvorte nástroje pomocou skratky { $shortcut }.
