# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-telemetry-ping-data-source = 핑 데이터 소스:
about-telemetry-show-current-ping-data = 현재 핑 데이터
about-telemetry-show-archived-ping-data = 저장된 핑 데이터
about-telemetry-show-subsession-data = 하위 세션 데이터 보기
about-telemetry-choose-ping = 핑 선택:
about-telemetry-archive-ping-type = 핑 종류
about-telemetry-archive-ping-header = 핑
about-telemetry-option-group-today = 오늘
about-telemetry-option-group-yesterday = 어제
about-telemetry-option-group-older = 이전
about-telemetry-previous-ping = <<
about-telemetry-next-ping = >>
about-telemetry-page-title = 수집 데이터
about-telemetry-current-store = 현재 저장소:
about-telemetry-more-information = 자세한 정보가 필요하세요?
about-telemetry-firefox-data-doc = <a data-l10n-name="data-doc-link">Firefox Data Documentation</a>에 데이터 도구를 다루는 방법이 나와 있습니다.
about-telemetry-telemetry-client-doc = <a data-l10n-name="client-doc-link">Firefox Telemetry client documentation</a>에 개요와 API 문서, 데이터 참조가 포함되어 있습니다.
about-telemetry-telemetry-dashboard = <a data-l10n-name="dashboard-link">Telemetry dashboards</a>를 이용하여 Telemetry를 통해 Mozilla가 수신한 데이터를 시각화 할 수 있습니다.
about-telemetry-telemetry-probe-dictionary = <a data-l10n-name="probe-dictionary-link">Probe Dictionary</a> 는 Telemetry 에 의해 수집된 조사 내용에 대한 상세 정보와 설명을 제공합니다.
about-telemetry-show-in-Firefox-json-viewer = JSON 뷰어에서 열기
about-telemetry-home-section = 홈
about-telemetry-general-data-section = 일반 데이터
about-telemetry-environment-data-section = 환경 데이터
about-telemetry-session-info-section = 세션 정보
about-telemetry-scalar-section = 스칼라
about-telemetry-keyed-scalar-section = 키 스칼라
about-telemetry-histograms-section = 히스토그램
about-telemetry-keyed-histogram-section = 키가 들어간 히스토그램
about-telemetry-events-section = 이벤트
about-telemetry-simple-measurements-section = 단순 측정
about-telemetry-slow-sql-section = 느린 SQL 문
about-telemetry-addon-details-section = 부가 기능 상세
about-telemetry-captured-stacks-section = 스택 캡처
about-telemetry-late-writes-section = 최종 작성
about-telemetry-raw-payload-section = 원본 페이로드
about-telemetry-raw = 원본 JSON
about-telemetry-full-sql-warning = 주의E: 느린 SQL 디버깅이 시작합니다. 전체 SQL 문자열이 표시되나 데이터 측정에는 포함되지 않습니다.
about-telemetry-fetch-stack-symbols = 스택에 대한 함수 이름 가져오기
about-telemetry-hide-stack-symbols = 원본 스택 데이터 보기
# Selects the correct release version
# Variables:
#   $channel (String): represents the corresponding release data string
about-telemetry-data-type =
    { $channel ->
        [release] 출시 데이터
       *[prerelease] 출시전 데이터
    }
# Selects the correct upload string
# Variables:
#   $uploadcase (String): represents a corresponding upload string
about-telemetry-upload-type =
    { $uploadcase ->
        [enabled] 활성화됨
       *[disabled] 비활성화됨
    }
# Example Output: 1 sample, average = 0, sum = 0
# Variables:
#   $sampleCount (Integer): amount of histogram samples
#   $prettyAverage (Integer): average of histogram samples
#   $sum (Integer): sum of histogram samples
about-telemetry-histogram-stats =
    { $sampleCount ->
       *[other] { $sampleCount } 샘플, 평균 = { $prettyAverage }, 합계 = { $sum }
    }
# Variables:
#   $telemetryServerOwner (String): the value of the toolkit.telemetry.server_owner preference. Typically "Mozilla"
about-telemetry-page-subtitle = 이 페이지는 텔레메트리에 의해서 수집된 성능, 하드웨어, 사용 상황, 맞춤 기능에 대한 정보를 표시합니다. 이 정보는 { -brand-full-name }의 개선을 위해 { $telemetryServerOwner }에 송신됩니다.
about-telemetry-settings-explanation = 텔레메트리가 { about-telemetry-data-type }를 모으고 있고 업로드는 <a data-l10n-name="upload-link">{ about-telemetry-upload-type }</a>입니다.
# Variables:
#   $name (String): ping name, e.g. “saved-session”
#   $timeStamp (String): ping localized timestamp, e.g. “2017/07/08 10:40:46”
about-telemetry-ping-details = 각 정보 조각들은 “<a data-l10n-name="ping-link">핑</a>“로 번들되어 보내집니다. 지금은 { $name }, { $timestamp } 핑을 보고 있습니다.
about-telemetry-ping-details-current = 각 정보 조각들은 “<a data-l10n-name="ping-link">핑</a>“로 번들되어 보내집니다. 지금은 현재 핑을 보고 있습니다.
# string used as a placeholder for the search field
# More info about it can be found here:
# https://firefox-source-docs.mozilla.org/toolkit/components/telemetry/telemetry/data/main-ping.html
# Variables:
#   $selectedTitle (String): the section name from the structure of the ping.
about-telemetry-filter-placeholder =
    .placeholder = { $selectedTitle }에서 찾기
about-telemetry-filter-all-placeholder =
    .placeholder = 모든 섹션에서 찾기
# Variables:
#   $searchTerms (String): the searched terms
about-telemetry-results-for-search = “{ $searchTerms }”에 대한 결과
# More info about it can be found here: https://firefox-source-docs.mozilla.org/toolkit/components/telemetry/telemetry/data/main-ping.html
# Variables:
#   $sectionName (String): the section name from the structure of the ping.
#   $currentSearchText (String): the current text in the search input
about-telemetry-no-search-results = 죄송합니다! { $sectionName }에 “{ $currentSearchText }”에 대한 결과가 없습니다.
# Variables:
#   $searchTerms (String): the searched terms
about-telemetry-no-search-results-all = 죄송합니다! “{ $searchTerms }”에 대한 섹션 결과가 없습니다.
# This message is displayed when a section is empty.
# Variables:
#   $sectionName (String): is replaced by the section name.
about-telemetry-no-data-to-display = 죄송합니다! “{ $sectionName }”에 현재 데이터가 없습니다.
# used as a tooltip for the “current” ping title in the sidebar
about-telemetry-current-ping-sidebar = 현재 핑
# used in the “Ping Type” select
about-telemetry-telemetry-ping-type-all = 모두
# button label to copy the histogram
about-telemetry-histogram-copy = 복사
# these strings are used in the “Slow SQL Statements” section
about-telemetry-slow-sql-main = 주요 쓰레드에서 느린 SQL문
about-telemetry-slow-sql-other = 헬퍼 쓰레드에서 느린 SQL문
about-telemetry-slow-sql-hits = 횟수
about-telemetry-slow-sql-average = 평균 시간(ms)
about-telemetry-slow-sql-statement = 문장
# these strings are used in the “Add-on Details” section
about-telemetry-addon-table-id = 부가 기능 ID
about-telemetry-addon-table-details = 상세
# Variables:
#   $addonProvider (String): the name of an Add-on Provider (e.g. “XPI”, “Plugin”)
about-telemetry-addon-provider = { $addonProvider } 제작
about-telemetry-keys-header = 프로퍼티
about-telemetry-names-header = 이름
about-telemetry-values-header = 값
# Variables:
#   $stackKey (String): the string key for this stack
#   $capturedStacksCount (Integer):  the number of times this stack was captured
about-telemetry-captured-stacks-title = { $stackKey } (캡쳐 수: { $capturedStacksCount })
# Variables:
#   $lateWriteCount (Integer): the number of the late writes
about-telemetry-late-writes-title = 최종 작성- #{ $lateWriteCount }번
about-telemetry-stack-title = 스택:
about-telemetry-memory-map-title = 메모리 맵:
about-telemetry-error-fetching-symbols = 심볼을 가져오는데 오류가 생겼습니다. 인터넷 연결을 확인해 보시고 다시 시도해 주십시오.
about-telemetry-time-stamp-header = 타임스탬프
about-telemetry-category-header = 카테고리
about-telemetry-method-header = 메서드
about-telemetry-object-header = 객체
about-telemetry-extra-header = 추가
about-telemetry-origin-section = Origin Telemetry
about-telemetry-origin-origin = origin
about-telemetry-origin-count = 카운트
# Variables:
#   $telemetryServerOwner (String): the value of the toolkit.telemetry.server_owner preference. Typically "Mozilla"
about-telemetry-origins-explanation = <a data-l10n-name="origin-doc-link">Firefox Origin Telemetry</a>는 전송되기 전에 데이터를 인코딩하여 { $telemetryServerOwner }가 항목의 수를 셀 수는 있지만, 주어진 { -brand-product-name }가 해당 카운트에 기여했는지 여부는 알 수 없습니다. (<a data-l10n-name="prio-blog-link">더 알아보기</a>)
# Variables:
#  $process (String): type of process in subsection headers ( e.g. "content", "parent" )
about-telemetry-process = { $process } 프로세스
