# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Vaše pravice
rights-intro = { -brand-full-name } je prost in odprtokoden program, ki ga je razvila skupnost na tisoče sodelavcev iz celega sveta. Seznaniti vas želimo z nekaterimi podrobnostmi:
rights-intro-point-1 = { -brand-short-name } vam je na voljo pod pogoji <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>. To pomeni, da lahko { -brand-short-name } uporabljate, kopirate in ga delite drugim. Spreminjate lahko tudi izvorno kodo programa { -brand-short-name }, tako da bo ustrezala vašim potrebam. Mozilla Public License vam daje tudi pravico do razširanja vaših spremenjenih različic.
rights-intro-point-2 = Nimate pravic za uporabo blagovnih znamk ali dovoljenj blagovnih znamk Mozilla Foundation ali drugih oseb, vključno ter brez omejitev z imenom in logotipom Firefox. <a data-l10n-name="mozilla-trademarks-link">Dodatne informacije o blagovnih znamkah </a> najdete tukaj.
rights-intro-point-3 = Nekatera orodja brskalnika { -brand-short-name }, npr. pošiljanje poročil o sesutju, organizaciji { -vendor-short-name } omogočajo zbiranje povratnih informacij. S soglasjem dajete organizaciji { -vendor-short-name } dovoljenje, da povratne informacije uporabi za izboljšanje svojih izdelkov, jih objavi na svojih spletnih straneh in jih razpečuje.
rights-intro-point-4 = Kako uporabljamo vaše osebne podatke in povratne informacije, ki jih { -brand-short-name } pošlje organizaciji { -vendor-short-name }, je opisano na strani <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name }: Politika zasebnosti</a>.
rights-intro-point-4-unbranded = Vse ustrezne politike zasebnosti za ta izdelek morajo biti navedene tukaj.
rights-intro-point-5 = Nekatere zmogljivosti brskalnika { -brand-short-name } uporabljajo spletne informacijske storitve, vendar ne moremo zagotoviti, da so 100% točne ali brez napak. Več o tem, vključno z navodili kako onemogočiti zmogljivosti, ki te storitve uporabljajo, najdete v <a data-l10n-name="mozilla-service-terms-link">pogojih storitve</a>.
rights-intro-point-5-unbranded = Če ta izdelek vključuje spletne storitve, morajo pogoji za te storitve vsebovati povezavo na poglavje <a data-l10n-name="mozilla-website-services-link">Spletne storitve</a> .
rights-intro-point-6 = Za predvajanje nekaterih vrst video vsebin mora { -brand-short-name } prenesti module neodvisnih izdelovalcev, namenjene dešifriranju vsebin.
rights-webservices-header = { -brand-full-name }: spletne informacijske storitve
rights-webservices = { -brand-full-name } uporablja spletne informacijske storitve ("Storitve"), s katerimi vam omogoča nekatere zmogljivosti, ki so vam na razpolago v tej binarni različici programa { -brand-short-name }, kot je opisano spodaj. Če ne želite uporabljati ene ali več izmed teh storitev ali pa so spodnji pogoji za vas nesprejemljivi, lahko zmogljivosti ali storitve onemogočite. Navodila, kako lahko onemogočite določeno zmogljivost ali storitev, so na voljo <a data-l10n-name="mozilla-disable-service-link">tukaj</a>. Ostale zmogljivosti in storitve lahko onemogočite v nastavitvah programa.
rights-safebrowsing = <strong>Varno brskanje: </strong>Možnosti Varno brskanje ni priporočljivo onemogočati, ker lahko zaradi tega zaidete na nevarne strani. Če želite možnost v celoti onemogočiti, sledite tem korakom:
rights-safebrowsing-term-1 = Odprite nastavitve programa
rights-safebrowsing-term-2 = Izberite zavihek Varnost
rights-safebrowsing-term-3 = Odstranite možnost "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Zavrni nevarno in zavajajočo vsebino
rights-safebrowsing-term-4 = Varno brskanje je zdaj onemogočeno
rights-locationawarebrowsing = <strong>Brskanje, ki se zaveda položaja: </strong>je vedno izbirno. Podatki o položaju se tako nikoli ne pošiljajo brez vašega dovoljenja. Če želite v celoti onemogočiti to možnost, sledite tem korakom:
rights-locationawarebrowsing-term-1 = V vrstico za naslove vtipkajte <code>about:config</code>
rights-locationawarebrowsing-term-2 = Vtipkajte geo.enabled
rights-locationawarebrowsing-term-3 = Dvokliknite na lastnost geo.enabled
rights-locationawarebrowsing-term-4 = Brskanje, ki se zaveda položaja, je tako onemogočeno.
rights-webservices-unbranded = Tukaj mora biti na voljo pregled storitev za spletne strani, ki jih vsebuje izdelek, skupaj z navodili, kako jih onemogočiti, če so na razpolago.
rights-webservices-term-unbranded = Tukaj morajo biti našteti vsi morebitni pogoji za uporabo tega izdelka.
rights-webservices-term-1 = { -vendor-short-name } poskuša skupaj s sodelavci, licenčniki in partnerji zagotoviti čimbolj natančne in sveže storitve. Kljub temu ni mogoče zagotoviti, da so podatki celoviti in brez napak. Storitev Varno brskanje lahko na primer ne prepozna nekaterih tveganih strani ali pa pomotoma prepozna nekatere varne strani kot nevarne; med brskanjem, ki se zaveda lokacije, pa so vsi naslovi, ki nam jih naši ponudniki storitve dostavljajo, samo ocene, za katere ne mi ne ponudniki storitev ne jamčimo točnosti.
rights-webservices-term-2 = { -vendor-short-name } lahko storitve brez objave opusti ali spremeni.
rights-webservices-term-3 = Te storitve lahko uporabljate z ustrezno različico programa { -brand-short-name } in { -vendor-short-name } vam za to uporabo podeljuje pravice, ki jih ima. { -vendor-short-name } in odjemalci njegovih licenc si pridržujejo vse druge pravice v zvezi s storitvami. Namen teh pogojev ni omejiti kakršne koli pravice na osnovi odprtokodne licence programa { -brand-short-name } in pripadajočih različic njegove izvorne kode.
rights-webservices-term-4 = <strong>Storitve so na voljo "kot take." in { -vendor-short-name }, skupaj s sodelavci, licenčniki in partnerji, vam ne zagotavlja nikakršne izrecne ali implicitne garancije, med drugim brez kakršnih omejitev nobene garancije, da so Storitve primerne in uporabne za vaše namene. Ne glede na kakovost in učinkovitost storitev nosite vso odgovornost za uporabo za svoje namene vi sami Zakonodaja nekaterih držav ne dovoljuje izločevanja ali omejevanja garancije, zato ta pogoj morda ne velja za vas.</strong>
rights-webservices-term-5 = <strong>Razen če tako zahteva zakon, { -vendor-short-name }, skupaj s sodelavci, licenčniki in partnerji ne odgovarja za nobeno posredno, posebno, posledično ali vzročno škodo, ki izhaja ali je na kakršenkoli način povezana z uporabo programa { -brand-short-name } in storitev. Skupna odgovornost pod temi pogoji ne bo presegala 500$ (petsto dolarjev). Zakonodaja nekaterih držav ne dovoljuje izločevanja ali omejevanja nekaterih škod, zato ta pogoj morda ne velja za vas.</strong>
rights-webservices-term-6 = { -vendor-short-name } lahko od časa do časa po potrebi te pogoje posodobi. Brez pisnega soglasja { -vendor-short-name } pa jih ni dovoljeno spreminjati ali preklicati.
rights-webservices-term-7 = Ti pogoji so predmet zakonodaje države Kalifornija, ZDA, z izjemo določil v zvezi s kolizijo zakonov. Če se za katerikoli del teh pogojev meni, da je neveljaven ali neizvršljiv, ostaja preostali del še vedno v polni veljavi. V primeru neskladnosti med prevodom teh pogojev in angleško različico, obvelja različica v angleškem jeziku.
