# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Chi rij Taq Rusamajib'al Nuk'unel
enable-title = Ketzij ri Firefox Kisamajib'al B'anonela'
enable-inspect-element-title = Ketzij ri taq Rusamajib'al Rub'anonel Firefox richin nokisäx ri Nik'onel Ch'akulal
enable-inspect-element-message = Kenik'öx chuqa' kenuk' HTML chuqa' CSS rik'in ri Runik'onel Rusamajib'al B'anonel.
enable-about-debugging-message = Keb'anon chuqa' kechojmirisäx taq WebExtensions, web workers, service workers chuqa' ch'aqa' chik rik'in ri Kisamajib'al Kib'anonel Firefox.
enable-key-shortcut-message = Xatzïj jun ruq'a' rokem ri Kisamajib'al B'anonela'. We xa ta xasach, yatikïr natz'apij re ruwi' re'.
enable-menu-message = Ke'awutzilaj ri HTML, CSS chuqa' JavaScript richin ri ruxaq ak'amaya'l rik'in taq samajib'al achi'el ri Nik'onel chuqa' Chojmirisanel.
enable-common-message = B'anon chi e chupül ri Kisamajib'al kiB'anonel Firefox richin niya' chajinïk pan aq'a' pa ruwi' ri awokik'amaya'l.
enable-learn-more-link = Tetamäx ch'aqa' chik chi kij ri taqKisamajib'al B'anonela'
enable-enable-button = Ketzij ri taq Kisamajib'al B'anonela'
enable-close-button = Titz'apïx re Ruwi' re'
welcome-title = ¡Ütz apetik pa Firefox Developer Tools!
newsletter-title = Ko'öl Kiwuj Kib'anonela' Mozilla
newsletter-message = Ke'ak'ulu' taq kitzijol b'anonela', taq q'oloj chuqa' taq tob'äl ri nitaq pan ataqob'äl.
newsletter-email-placeholder =
    .placeholder = Taqoya'l
newsletter-privacy-label = Majun nuk'ayewal rik'in chi ja ri Mozilla nisamajin ri wetamab'al achi'el nichol pa <a data-l10n-name="privacy-policy">Richinaxik Na'ojil</a>.
newsletter-subscribe-button = Tz'ib'anïk b'i'aj
newsletter-thanks-title = ¡Matyox!
newsletter-thanks-message = We man ajikib'an ta rutz'ib'axik ab'i' pa jun rutzijol ko'öl na'oj pa ruwi' ri Mozilla rik'in jub'a' k'o chi nab'än. Tab'ana' utzil tanik'oj ri ataqob'al o ri ruchayub'al itzel taq taqoya'l richin jun rutzijol jun taqoya'l.
footer-title = Firefox Developer Edition
footer-message = ¿La nakanoj jujun relik taq rusamajib'al b'anonel? Tanik'oj ri Firefox Okik'amaya'l nuk'un kichin ri b'anonela' chuqa' k'ak'a' kiq'axik taq samaj.
footer-learn-more-link = Tetamäx ch'aqa' chik
features-learn-more = Tetamäx ch'aqa' chik
features-inspector-title = Nik'onel
features-inspector-desc = Tanik'oj chuqa' tachojmirisaj ri b'itz'ib' richin ye'atz'ük ütz taq wachib'enïk pa taq piksel. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Temeb'äl
features-console-desc = Rutzeqelib'exik CSS, JavaScript, jikomal chuqa' taq rusachoj k'amab'ey. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Chojmirisab'äl
features-debugger-desc = Nimaläj ruchojmirisanel JavaScript rik'in temeb'äl richin ri framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = K'amab'ey
features-network-desc = Ke'atz'eta' ri taq ruk'utuj k'amab'ey, ri yetikïr nikib'än eqal chuqa' nikiq'ät ri ruxaq ak'amaya'l. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Yakoj
features-storage-desc = Titz'aqatisäx, tijalwachïx chuqa' tiyuj el ri jumejyak, taq kaxlanwey, Kixe'el tzij chuqa' taq rutzij molojri'ïl. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = K'amonel Wachib'en Rutzub'al
features-responsive-desc = Ke'atojtob'ej ri taq ruxaq k'amaya'l pa oxk'ob'en taq okisaxel pa awokik'amaya'l. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Tzetoj Nuk'uj
features-visual-editing-desc = Tab'ana' ütz chi ke ri taq silonem, ri rucholaxik chuqa' ri runojisaxik. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Rub'eyal nisamäj
features-performance-desc = Timeq'at taq juyuwaxïk, keb'an aninäq ri taq tajinïk, ke'utziläx ri e tzijïl. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Rupam rujolom
features-memory-desc = Kekanöx taq rujul tzatzq'ob'äl richin nib'an ruchokoy zippy. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Man ütz ta xub'än ri k'utunïk richin tz'ib'anïk b'i'aj ({ $errorDescription }).
newsletter-error-unknown = Man oyob'en ta re sachoj xk'ulwachitäj.
newsletter-error-timeout = Xk'is ri ruramaj ri k'utunïk richin tz'ib'anïk b'i'aj.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = ¡Ütz xub'än toq xe'atzïj ri taq Kisamajib'al B'anonela'! Richin nitikirisäx, tinik'öx ri ruk'utsamaj Ajk'amaya'l B'anonel o ke'ajaqa' ri taq samajib'äl rik'in { $shortcut }.
