# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Про ваші права
rights-intro = { -brand-full-name } є вільним програмним забезпеченням з відкритим кодом, створеним багатотисячною спільнотою з усіх куточків світу. Ось кілька речей, які варто знати:
rights-intro-point-1 = { -brand-short-name } надається вам на умовах <a data-l10n-name="mozilla-public-license-link">Публічної ліцензії Mozilla</a>.Тобто, ви можете використовувати, копіювати та розповсюджувати { -brand-short-name }. Ви також можете змінювати джерельний код { -brand-short-name } як хочете та як вважаєте за потрібне. Публічна ліцензія Mozilla дає вам також право розповсюджувати змінені вами версії програми.
rights-intro-point-2 = Вам не передаються жодні права на торгову марку чи ліцензії на торгові марки Mozilla Foundation або будь-якої сторони, включно та без обмежень на назву і логотип Firefox. Додаткову інформацію щодо торгових марок можна знайти <a data-l10n-name="mozilla-trademarks-link">тут</a>.
rights-intro-point-3 = Деякі можливості { -brand-short-name }, такі як звіти про збої, дають вам змогу надсилати відгук в { -vendor-short-name }. Прийнявши рішення надіслати відгук, ви даєте { -vendor-short-name } дозвіл використовувати його для покращення своїх продуктів, публікувати та поширювати його на своїх сайтах.
rights-intro-point-4 = Те, як ми використовуємо ваші особисті дані та повідомлення, надіслані до { -vendor-short-name } з допомогою { -brand-short-name }, описано в <a data-l10n-name="mozilla-privacy-policy-link">Політиці приватності { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Будь-які придатні для цього продукту угоди конфіденційності мають бути тут.
rights-intro-point-5 = Деякі з можливостей { -brand-short-name } використовують послуги інформаційних веб-служб, однак, ми не можемо гарантувати, що вони на 100% точні чи достовірні. Додаткові подробиці, включно з інформацією як вимкнути ці служби, ви можете прочитати в <a data-l10n-name="mozilla-service-terms-link">угоді надання послуг</a>.
rights-intro-point-5-unbranded = Якщо цей продукт включає послуги сайтів, то будь-які придатні угоди надання послуг для них мають бути додані посиланнями у розділі <a data-l10n-name="mozilla-website-services-link">Послуги сайтів</a> .
rights-intro-point-6 = Для можливості відтворення окремих типів відеовмісту, { -brand-short-name } завантажує певні сторонні модулі дешифрування.
rights-webservices-header = Інформаційні послуги веб-служб в { -brand-full-name }
rights-webservices = { -brand-full-name } використовує інформаційні послуги веб-служб («Послуги») для забезпечення роботи деяких можливостей, що надаються з цією бінарною версією { -brand-short-name } на нижче наведених умовах. Якщо ви не хочете використовувати одну чи більше з Послуг чи нижче наведені умови для вас неприйнятні, то ви можете вимкнути можливість чи Послугу(и). Інструкції щодо того як вимкнути окрему можливість чи послугу ви можете знайти <a data-l10n-name="mozilla-disable-service-link">тут</a>. Інші можливості та служби можуть бути вимкнені у налаштуваннях програми.
rights-safebrowsing = <strong>SafeBrowsing: </strong>Вимкнення функції Safe Browsing не рекомендується, тому що це може призвести до того, що ви будете потрапляти на небезпечні сайти.  Якщо ви бажаєте повністю вимкнути цю функцію, виконайте наступні кроки:
rights-safebrowsing-term-1 = Відкрийте налаштування програми
rights-safebrowsing-term-2 = Оберіть розділ Безпека
rights-safebrowsing-term-3 = Приберіть прапорець з "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Блокувати небезпечний і підозрілий вміст
rights-safebrowsing-term-4 = Safe Browsing тепер вимкнено
rights-locationawarebrowsing = <strong>Визначення розташування під час веб-перегляду: </strong>завжди потребує вашого підтвердження.  Інформація про розташування ніколи не надсилається без вашого дозволу.  Якщо ви бажаєте повністю вимкнути цю функцію, виконайте наступні кроки:
rights-locationawarebrowsing-term-1 = В панелі адреси введіть <code>about:config</code>
rights-locationawarebrowsing-term-2 = Введіть geo.enabled
rights-locationawarebrowsing-term-3 = Зробіть подвійне натискання по параметру geo.enabled
rights-locationawarebrowsing-term-4 = Визначення розташування під час веб-перегляду тепер вимкнено
rights-webservices-unbranded = Тут має бути опис послуг сайтів, що включені в продукт, а також інструкції, як їх вимкнути.
rights-webservices-term-unbranded = Тут мають бути всі придатні умови надання послуг стосовно цього продукту.
rights-webservices-term-1 = { -vendor-short-name } та її помічники, ліцензіари та партнери працюють над тим, щоб надавати якомога точніші та актуальні послуги. Однак, ми не можемо гарантувати повноти та достовірності цієї інформації.  Наприклад, послуга безпечного перегляду може не розпізнавати деякі небезпечні сайти, або може помилково попереджати про деякі безпечні сайти. Також дані послуги розташування, які надаються нашими провайдерами, є лише приблизними, і ні ми, ані наші провайдери не гарантують точність визначення місця.
rights-webservices-term-2 = { -vendor-short-name } може перервати чи змінити Послуги на свій розсуд.
rights-webservices-term-3 = Ви можете використовувати ці Служби разом з відповідною версією { -brand-short-name }, а також { -vendor-short-name } надає вам необхідні для цього права.  { -vendor-short-name } та її ліцензіари зберігають всі інші права на ці Служби.  Ці умови не призначені для обмеження будь-яких прав, що надані на умовах ліцензій відкритого коду, які застосовуються до  { -brand-short-name } та відповідних версій { -brand-short-name }.
rights-webservices-term-4 = <strong>Послуги надаються «як є»;  { -vendor-short-name }, учасники, ліцензіари та дистриб’ютори відмовляються від усіх гарантійних зобов’язань, явних та неявних, а також не дають гарантій того, що Послуги залишаються ходовими та відповідають вашим цілям. Ви берете на себе весь ризик як щодо вибору Послуг для себе, так і щодо якості та ефективності Послуг. Деякі юрисдикції не дозволяють винятки чи обмеження гарантійних зобов’язань, тож ця відмова може вас не стосуватися.</strong>
rights-webservices-term-5 = <strong>Окрім випадків, зазначених у законі, { -vendor-short-name } його учасники, ліцензіари та дистриб’ютори не відповідають за непрямі, особливі, випадкові, крані, послідовні чи зразкові збитки, що випливають з чи якимось чином пов’язані з використанням { -brand-short-name } та Послуг. Колективна відповідальність за цих умов не буде перевищувати $500 (п’ятсот доларів США). Деякі юрисдикції не дозволяють виключення чи обмеження деяких збитків, тож ці обмеження чи винятки можуть вас не стосуватися.</strong>
rights-webservices-term-6 = { -vendor-short-name } може при необхідності оновлювати ці умови час від часу. Ці умови не можуть бути змінені чи скасовані без письмової згоди { -vendor-short-name }.
rights-webservices-term-7 = Ці умови регулюються законами штату Каліфорнія, США, за винятком конфлікту законів. Якщо якась частина цих умов нечинна чи така, що не має ніякого впливу, дійсна частина залишається в силі. При невідповідності перекладу цих умов та їх англійської версії, слід посилатися на англійську версію.
