# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Despre drepturile tale
rights-intro = { -brand-full-name } este un program liber și cu sursă deschisă, construit de o comunitate de mii de oameni din lumea întreagă. Câteva lucruri bine de știut:
rights-intro-point-1 = { -brand-short-name } este disponibil sub termenii <a data-l10n-name="mozilla-public-license-link">Licenței publice Mozilla</a>. Acest lucru înseamnă că poți folosi, copia și distribui { -brand-short-name }. De asemenea, ești binevenit(ă) să modifici cum dorești codul sursă { -brand-short-name } pentru a răspunde nevoilor tale. Licența publică Mozilla îți oferă și dreptul de a distribui versiunile pe care le-ai modificat.
rights-intro-point-2 = Nu ți se acordă niciun drept asupra mărcilor comerciale sau licențe de utilizare a mărcilor comerciale deținute de Fundația Mozilla sau de orice altă parte, inclusiv, fără a se limita la, denumirea sau logoul Firefox. Informațiile suplimentare despre mărcile comerciale se găsesc <a data-l10n-name="mozilla-trademarks-link">aici</a>.
rights-intro-point-3 = Unele funcționalități din { -brand-short-name }, cum ar fi Raportorul de defecțiuni, oferă opțiunea de a trimite feedback la { -vendor-short-name }. Alegând să trimiți feedback, îi dai permisiunea lui { -vendor-short-name } să folosească feedbackurile pentru a-și îmbunătăți produsele, să publice feedbackurile pe propriile site-uri web și să distribuie feedbackurile.
rights-intro-point-4 = Modul în care folosim informațiile cu caracter personal și feedbackurile trimise la { -vendor-short-name } prin { -brand-short-name } este descris în <a data-l10n-name="mozilla-privacy-policy-link">Politica de confidențialitate { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Aici trebuie listate orice politici de confidențialitate aplicabile acestui produs.
rights-intro-point-5 = Unele funcționalități din { -brand-short-name } folosesc servicii de informații bazate pe web, totuși, nu le putem garanta 100% acuratețea sau lipsa erorilor. Detalii suplimentare, inclusiv informații despre dezactivarea funcționalităților care folosesc aceste servicii, sunt disponibile în <a data-l10n-name="mozilla-service-terms-link">Termenii de utilizare a serviciilor</a>.
rights-intro-point-5-unbranded = Dacă produsul include servicii web, orice termeni aplicabili de utilizare a serviciilor trebuie să fie accesibili din secțiunea <a data-l10n-name="mozilla-website-services-link">Servicii pentru site-uri web</a>.
rights-intro-point-6 = Pentru redarea anumitor tipuri de conținut video, { -brand-short-name } descarcă anumite module de decriptare de la terți.
rights-webservices-header = Servicii de informații bazate pe web în { -brand-full-name }
rights-webservices = { -brand-full-name } utilizează servicii de informații bazate pe web („Servicii”) pentru a oferi unele funcționalități furnizate pentru utilizarea împreună cu această versiune binară de { -brand-short-name } conform termenilor descriși mai jos. Dacă nu vrei să utilizezi unul sau mai multe Servicii sau dacă termenii de mai jos sunt inacceptabili pentru tine, poți dezactiva funcționalitatea sau Serviciul(le) respectiv(e). Pentru instrucțiuni despre dezactivarea unei funcționalități sau a unui Serviciu vezi <a data-l10n-name="mozilla-disable-service-link">aici</a>. Alte funcționalități și Servicii pot fi dezactivate în preferințele aplicației.
rights-safebrowsing = <strong>Navigare în siguranță: </strong>Dezactivarea funcționalității Navigare în siguranță nu este recomandată deoarece ar putea conduce la accesarea de site-uri nesigure.  Dacă vrei să dezactivezi complet această funcționalitate, urmează pașii de mai jos:
rights-safebrowsing-term-1 = Deschide preferințele aplicației
rights-safebrowsing-term-2 = Selectează setările de securitate
rights-safebrowsing-term-3 = Deselectează opțiunea „{ enableSafeBrowsing-label }”
enableSafeBrowsing-label = Blochează conținutul periculos și înșelător
rights-safebrowsing-term-4 = Navigarea în siguranță este acum dezactivată
rights-locationawarebrowsing = <strong>Navigare cu geolocalizare: </strong>este întotdeauna opțională. Informațiile despre poziție nu sunt niciodată transmise fără permisiunea ta. Dacă vrei să dezactivezi complet această funcționalitate, urmează pașii de mai jos:
rights-locationawarebrowsing-term-1 = Scrie <code>about:config</code> în bara de adrese
rights-locationawarebrowsing-term-2 = Scrie geo.enabled
rights-locationawarebrowsing-term-3 = Dă clic dublu pe preferința geo.enabled
rights-locationawarebrowsing-term-4 = Navigarea cu geolocalizare este acum dezactivată
rights-webservices-unbranded = Aici trebuie incluse prezentarea generală a serviciilor înglobate în produs pentru site-uri web și instrucțiunile aferente de dezactivare, dacă este cazul.
rights-webservices-term-unbranded = Aici trebuie enumerați orice termeni de utilizare a serviciilor aplicabili produsului.
rights-webservices-term-1 = { -vendor-short-name } și colaboratorii, licențiatorii și partenerii săi lucrează pentru a oferi cele mai precise și actualizate Servicii.  Totuși, nu putem garanta că informațiile sunt complete sau lipsite de erori. De exemplu, se poate ca serviciul de Navigare în siguranță să nu identifice unele site-uri riscante și ar putea identifica greșit unele site-uri sigure ca fiind riscante, iar în Serviciul de navigare cu geolocalizare, toate pozițiile recepționate de la furnizorii noștri de servicii sunt doar estimative și nici noi, nici furnizorii noștri de servicii nu garantăm acuratețea poziționărilor oferite.
rights-webservices-term-2 = { -vendor-short-name } poate întrerupe sau modifica Serviciile la libera sa apreciere.
rights-webservices-term-3 = Ești binevenit(ă) să folosești aceste Servicii și versiunea asociată de { -brand-short-name } și { -vendor-short-name } îți acordă drepturile necesare în acest sens. { -vendor-short-name } și licențiatorii săi își rezervă toate celelalte drepturi asupra Serviciilor. Acești termeni nu sunt destinați să limiteze drepturi acordate sub licențe cu sursă deschisă aplicabile  { -brand-short-name } sau versiunilor corespunzătoare de cod sursă { -brand-short-name }.
rights-webservices-term-4 = <strong>Serviciile sunt furnizate „ca atare”.  { -vendor-short-name }, colaboratorii, licențiatorii și distribuitorii săi declină toate garanțiile, exprese ori implicite, inclusiv, fără a se limita la, garanții de vandabilitate sau de adecvare a Serviciilor pentru un scop anume.  Vei suporta integral riscul legat de selectarea Serviciilor pentru scopurile tale și cel implicat de calitatea și performanța Serviciilor. Unele jurisdicții nu permit excluderea sau limitarea garanțiilor implicite și atunci este posibil ca prezenta declinare a responsabilității să nu se aplice în cazul tău.</strong>
rights-webservices-term-5 = <strong>Cu excepția situațiilor prevăzute de lege, { -vendor-short-name }, colaboratorii, licențiatorii și distribuitorii săi nu vor fi trași la răspundere pentru orice daune indirecte, speciale, accesorii, derivate, punitive sau exemplare izvorâte din sau legate în orice fel de utilizarea { -brand-short-name } și a Serviciilor.  Răspunderea colectivă în baza prezenților termeni nu va depăși 500 $ (cinci sute de dolari). Unele jurisdicții nu permit excluderea sau limitarea anumitor daune și atunci este posibil ca prezenta excludere și limitare să nu se aplice în cazul tău.</strong>
rights-webservices-term-6 = { -vendor-short-name } poate actualiza ocazional acești termeni, după caz. Termenii nu pot fi modificați sau anulați fără acordul scris al { -vendor-short-name }.
rights-webservices-term-7 = Acești termeni sunt guvernați de legislația statului California, S.U.A., cu excluderea prevederilor privind conflictul de legi. Dacă orice parte a prezenților termeni este considerată nevalidă sau neexecutabilă, celelalte prevederi vor rămâne integral în vigoare și vor produce efecte depline. În cazul unei neconcordanțe dintre o versiune tradusă a termenilor de față și versiunea în limba engleză, versiunea în limba engleză va prevala.
