# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Davart ils utensils per sviluppaders
enable-title = Activar ils utensils per sviluppaders da Firefox
enable-inspect-element-title = Activar ils utensils per sviluppaders da Firefox per utilisar «Inspectar l'element»
enable-inspect-element-message = Examinar e modifitgar HTML e CSS cun l'inspectur dals utensils per sviluppaders.
enable-about-debugging-message = Sviluppar e debugar WebExtensions, web workers, service workers e dapli cun ils utensils per sviluppaders da Firefox.
enable-key-shortcut-message = Ti has activà ina scursanida da tasta dals utensils per sviluppaders. Sche quai è capità per sbagl, pos ti serrar quest tab.
enable-menu-message = Perfecziunescha HTML, CSS e JavaScript da tia website cun utensils sco l'inspectur u il debugadi.
enable-common-message = Ils utensils per sviluppaders da Firefox èn deactivads tenor standard per che ti possias controllar meglier tes navigatur.
enable-learn-more-link = Vegnir a savair dapli davart ils utensils per sviluppaders
enable-enable-button = Activar ils utensils per sviluppaders
enable-close-button = Serrar quest tab
welcome-title = Bainvegni tar ils utensils per sviluppaders da Firefox!
newsletter-title = Mozilla Developer Newsletter
newsletter-message = Retschaiva novitads per sviluppaders, trics e resursas directamain en tia chascha da posta entrada dad e-mail.
newsletter-email-placeholder =
    .placeholder = E-mail
newsletter-privacy-label = Jau sun d'accord che Mozilla tracta mias datas tenor questas <a data-l10n-name="privacy-policy">reglas da la protecziun da datas</a>.
newsletter-subscribe-button = Abunar
newsletter-thanks-title = Grazia!
newsletter-thanks-message = Sche ti n'has anc mai abunà in newsletter da Mozilla, stos ti confermar l'abunament. Controllescha per plaschair sche tia posta entrada u tes filter da posta nungiavischada cuntegnia in e-mail da nus.
footer-title = Firefox Developer Edition
footer-message = Tschertgas ti dapli che mo ils utensils per sviluppaders? Emprova il navigatur da Firefox creà aposta per sviluppaders e process da lavur moderns.
footer-learn-more-link = Ulteriuras infurmaziuns
features-learn-more = Ulteriuras infurmaziuns
features-inspector-title = Inspectur
features-inspector-desc = Inspectar e perfecziunar code per crear impaginaziuns cun la precisiun dad in pixel. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consola
features-console-desc = Identifitgar problems da CSS, JavaScript, segirezza e rait. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugadi
features-debugger-desc = In debugadi da JavaScript potent che sustegna tes framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Rait
features-network-desc = Chattar dumondas da rait che pon ralentar u bloccar tia website. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Arcun
features-storage-desc = Agiuntar, modifitgar ed allontanar il cache, cookies, bancas da datas e datas da sesida. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Vista da responsive design
features-responsive-desc = Testar paginas sin apparats emulads en il navigatur. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Modificaziun visuala
features-visual-editing-desc = Perfecziunar animaziuns, alingiament ed urs. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Prestaziun
features-performance-desc = Debloccar stretgas, simplifitgar process ed optimar resursas. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memoria
features-memory-desc = Chattar largias en la memoria e meglierar la performanza da tia applicaziun. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = La dumonda dad abunar n'è betg reussida ({ $errorDescription }).
newsletter-error-unknown = Ina errur nunspetgada è succedida.
newsletter-error-timeout = La dumonda dad abunar è scrudada.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Ti has activà cun success ils utensils per sviluppaders dal web! Per cumenzar, explorescha il menu dals utensils per sviluppaders u avra ils utensils cun { $shortcut }.
