/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/extensionsOverlay.css");

/* Hide FX specific elements we don't use */
.legacy-warning,
#private-browsing-notice,
#detail-privateBrowsing-row,
#detail-privateBrowsing-row-footer,
.privateBrowsing-notice-container {
  display: none;
}

#nav-header {
  height: 50px;
}

#tb-legacy-extensions-notice {
  display: none;
  -moz-box-align: start;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 8px;
}

#list-view[type="extension"] #tb-legacy-extensions-notice {
  display: -moz-box;
}

#tb-legacy-extensions-notice > .alert {
  width: 664px;
  padding: 4px;
}

#tb-legacy-extensions-notice > .alert > description {
  margin: 0;
}

#category-plugin {
  display: none;
}

.addon[status="installed"][type="extension"] {
  -moz-binding: url("chrome://messenger/content/extensions.xml#thunderbird-addon-generic");
}

.addon.card > .card-heading-image:not([src=""]) {
  max-width: 664px;
  max-height: 90px;
}

.addon.card[notification] > .card-heading-image:not([src=""]) {
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
