/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messenger.css ==================================================
  == Styles shared throughout the Messenger application.
  ======================================================================= */

@import url("chrome://global/skin/");
@import url("chrome://messenger/content/messenger.css");
@import url("chrome://messenger/skin/shared/messenger.css");

:root {
  --tab-min-height: 30px;
  --tabs-border-color: rgba(0,0,0,.3);
  --tabline-color: #0a84ff;

  --toolbar-non-lwt-bgcolor: #f9f9fa;
  --toolbar-non-lwt-textcolor: #0c0c0d;
  --toolbar-non-lwt-bgimage: none;
  --toolbar-bgcolor: var(--toolbar-non-lwt-bgcolor);
  --toolbar-bgimage: var(--toolbar-non-lwt-bgimage);
  --chrome-content-separator-color: hsl(0, 0%, 60%);

  --toolbarbutton-border-radius: 3px;
  --toolbarbutton-icon-fill-opacity: .85;
  --toolbarbutton-hover-background: hsla(0, 0%, 100%, .1)
                                    linear-gradient(hsla(0, 0%, 100%, .3),
                                    hsla(0, 0%, 100%, .1)) no-repeat;
  --toolbarbutton-hover-bordercolor: hsla(0, 0%, 0%, .2);
  --toolbarbutton-header-bordercolor: hsla(0, 0%, 0%, .2);
  --toolbarbutton-hover-boxshadow: 0 1px 0 hsla(0, 0%, 100%, .5),
                                   0 1px 0 hsla(0, 0%, 100%, .5) inset;

  --toolbarbutton-active-background: hsla(0, 0%, 0%, .02)
                                     linear-gradient(hsla(0, 0%, 0%, .12),
                                     transparent) border-box;
  --toolbarbutton-active-bordercolor: hsla(0, 0%, 0%, .3);
  --toolbarbutton-active-boxshadow: 0 1px 0 hsla(0, 0%, 100%, .5),
                                    0 1px 0 hsla(0, 0%, 0%, .05) inset,
                                    0 1px 1px hsla(0, 0%, 0%, .2) inset;
  --toolbarbutton-inactive-bordercolor: rgba(0, 0, 0, 0.1);
  --toolbarbutton-inactive-boxshadow: 0 1px 0 hsla(0, 0%, 0%, .05) inset;
  --toolbarbutton-checkedhover-backgroundcolor: hsla(0, 0%, 0%, .09);
  --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention, #0a84ff);

  --lwt-header-image: none;
  --row-grouped-header-bg-color: #d5d5d5;
  --row-grouped-header-bg-color-selected: #3874d1;
  --panel-separator-color: hsla(210, 4%, 10%, .14);
  --arrowpanel-dimmed: hsla(0, 0%, 80%, .3);
  --arrowpanel-dimmed-further: hsla(0, 0%, 80%, .45);
  --splitter-color: #bdbdbd;
  --urlbar-popup-url-color: hsl(210, 77%, 47%);
  --urlbar-popup-action-color: hsl(178, 100%, 28%);
}

:root:-moz-window-inactive {
  --toolbar-bgcolor: -moz-mac-chrome-inactive;
}

:root:-moz-lwtheme {
  --toolbar-bgcolor: rgba(255,255,255,.4);
  --toolbar-bgimage: none;

  --toolbarbutton-icon-fill-opacity: 1;
}

:root[lwt-popup-brighttext] {
  --panel-separator-color: rgba(249, 249, 250, .1);
  --arrowpanel-dimmed: rgba(249, 249, 250, .1);
  --arrowpanel-dimmed-further: rgba(249, 249, 250, .15);
}

:root[lwt-tree] {
  --splitter-color: var(--sidebar-border-color);
  --row-grouped-header-bg-color: hsla(0,0%,50%,.15);
  --row-grouped-header-bg-color-selected: var(--sidebar-highlight-background-color, hsla(0,0%,80%,.6));
}

:root[lwt-tree-brighttext] {
  --row-grouped-header-bg-color-selected: var(--sidebar-highlight-background-color, rgba(249,249,250,.3));
}

toolbar[brighttext] {
  --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention, #45a1ff);
}

#FindToolbar:-moz-lwtheme,
.contentTabToolbox:-moz-lwtheme,
#ab-toolbox > toolbar:-moz-lwtheme,
.mail-toolbox > toolbar:-moz-lwtheme,
#compose-toolbox > toolbar:-moz-lwtheme,
#navigation-toolbox > toolbar:-moz-lwtheme,
:root[lwt-tree-brighttext] #folderPane-toolbar {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, hsla(0, 0%, 100%, .1));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background, hsla(0, 0%, 0%, .2));

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, hsla(0, 0%, 0%, .02));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background, hsla(0, 0%, 0%, .3));
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background, hsla(0, 0%, 0%, .2)) inset;

  --toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background, hsla(0, 0%, 0%, .09));
}

:-moz-any(.chromeclass-toolbar, .chromeclass-menubar, #tabbar-toolbar)
  .toolbarbutton-1:not([disabled="true"]):hover:-moz-lwtheme >
  .toolbarbutton-menubutton-dropmarker {
  background-color: var(--lwt-toolbarbutton-hover-background, hsla(0, 0%, 100%, .1)) !important;
}

:-moz-any(.chromeclass-toolbar, .chromeclass-menubar, #tabbar-toolbar)
  .toolbarbutton-1[open="true"]:-moz-lwtheme >
  .toolbarbutton-menubutton-dropmarker:not([disabled="true"]) {
  background-color: var(--lwt-toolbarbutton-active-background, hsla(0, 0%, 0%, .02)) !important;
}

#messengerWindow:not([tabsintitlebar]) #titlebar {
  height: 22px;
}

@media (-moz-mac-yosemite-theme) {
  :root:not(:-moz-lwtheme) {
    --tabs-border-color: rgba(0,0,0,.2);
    --chrome-content-separator-color: hsl(0, 0%, 68%);
  }
  :root:not(:-moz-lwtheme):-moz-window-inactive {
    --tabs-border-color: rgba(0,0,0,.05);
    --chrome-content-separator-color: hsl(0, 0%, 85%);
  }
}

.inline-toolbar,
.contentTabToolbar {
  -moz-appearance: none;
  min-width: 50px;
  min-height: 14px;
}

.inline-toolbar toolbarseparator {
  height: 20px;
  margin-top: 2px;
}

.inline-toolbar toolbarspacer {
  height: 22px;
}

#messengerWindow:not([tabsintitlebar="true"]) >
#titlebar:not(:-moz-lwtheme),
#messengerWindow[sizemode="fullscreen"]:not([tabsintitlebar="true"]) >
#titlebar {
  display: none;
}

#titlebar {
  /* Centrally align content items vertically */
  -moz-box-pack: center;
}

#titlebar:-moz-lwtheme {
  -moz-appearance: none;
}

/* ::::: Toolbar customization ::::: */

.toolbarpaletteitem-box[type="spacer"] {
  border: 1px solid #a3a3a3;
  background-color: #eee;
  width: 32px;
  margin-top: 18px;
}

.toolbarpaletteitem-box[type="spring"] {
  border: 1px solid #a3a3a3;
  background: url("chrome://messenger/skin/icons/spring.png") #fff no-repeat;
  width: 32px;
  margin-top: 18px;
}

.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  background: #eee;
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin: 2px;
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
  width: 2px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-top: 0;
  margin-bottom: 2px;
  height: 32px;
}

.toolbarpaletteitem-box[type="spring"][place="palette"] {
  background-position: center;
  margin-left: 8px;
  margin-right: 8px;
}

/* ::::: toolbarbutton menu-button ::::: */

toolbarbutton[type="menu-button"] {
  -moz-box-align: stretch;
  -moz-box-orient: horizontal !important;
}

toolbarbutton[type="menu-button"],
toolbarbutton[type="menu-button"]:hover,
toolbarbutton[type="menu-button"]:hover:active,
toolbarbutton[type="menu-button"][open="true"],
toolbarbutton[type="menu-button"][disabled="true"],
toolbarbutton[type="menu-button"][disabled="true"]:hover,
toolbarbutton[type="menu-button"][disabled="true"]:hover:active {
  background-color: transparent;
}

.toolbarbutton-menubutton-button {
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  text-shadow: inherit;
}

/* .......... dropmarker .......... */

.toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none;
  border: none;
  background-color: transparent !important;
  width: auto;
  padding: 0 5px;
}

/* ::::: primary toolbar buttons ::::: */

.findbar-button {
  background: none;
  box-shadow: none;
  color: inherit;
  border: 1px transparent solid;
  border-radius: var(--toolbarbutton-border-radius);
  transition-property: background, border-color;
  transition-duration: 250ms;
}

.toolbarbutton-1:not([type="menu-button"]),
.toolbarbutton-1 > .toolbarbutton-menubutton-button,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  height: 22px;
  padding: 0 4px;
  border: 1px transparent solid;
  border-radius: var(--toolbarbutton-border-radius);
  transition-property: background, border-color;
  transition-duration: 250ms;
  background-clip: padding-box;
}

.findbar-button:not(:-moz-any([checked="true"],[disabled="true"])):hover,
.toolbarbutton-1:not([disabled="true"]):-moz-any(:hover,[open="true"]) >
.toolbarbutton-menubutton-button,
.toolbarbutton-1:not([disabled="true"]):hover >
.toolbarbutton-menubutton-dropmarker,
.toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
  border-color: var(--toolbarbutton-hover-bordercolor);
  background: var(--toolbarbutton-hover-background);
  box-shadow: var(--toolbarbutton-hover-boxshadow);
}

.findbar-button:not([disabled=true]):-moz-any([checked="true"],:hover:active),
.toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):-moz-any([open="true"],[checked="true"],:hover:active) {
  background: var(--toolbarbutton-active-background);
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
  transition-duration: 10ms;
}

.findbar-button[checked="true"]:not(:active):hover,
.toolbarbutton-1[checked="true"]:not(:active):hover {
  background-color: var(--toolbarbutton-checkedhover-backgroundcolor);
  transition: background-color 250ms;
}

@media (-moz-mac-yosemite-theme) {
  .toolbarbutton-1[checked="true"]:-moz-window-inactive {
    box-shadow: var(--toolbarbutton-inactive-boxshadow);
    border-color: var(--toolbarbutton-inactive-bordercolor);
    background: transparent !important;
  }
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button {
  border-inline-end: none;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(ltr),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(rtl),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(ltr) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

toolbox[labelalign="end"] toolbarpaletteitem .toolbarbutton-1[type="menu"] {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton");
}

.toolbarbutton-1[type="menu-button"] {
  padding: 0;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  margin: 0;
}

.toolbarbutton-1 {
  margin: 5px 2px;
  -moz-context-properties: fill, fill-opacity;
  fill: var(--lwt-toolbarbutton-icon-fill, currentColor);
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.toolbarbutton-1:-moz-lwtheme {
  text-shadow: inherit;
}

.toolbarbutton-1[open],
.toolbarbutton-1[open] > .toolbarbutton-menubutton-button {
  text-shadow: none;
}

.toolbarbutton-1:not([type="menu-button"]),
.toolbarbutton-1 > .toolbarbutton-menubutton-button {
  -moz-box-orient: vertical;
}

toolbarbutton[type="menu-button"],
toolbox[mode="text"] .toolbarbutton-1,
toolbox[mode="text"] .toolbarbutton-menubutton-button,
toolbox[mode="text"] .toolbarbutton-menubutton-dropmarker,
toolbox[labelalign="end"] .toolbarbutton-1,
toolbox[labelalign="end"] toolbarpaletteitem .toolbarbutton-1,
toolbox[labelalign="end"] .toolbarbutton-1[type="menu-button"]
  > .toolbarbutton-menubutton-button,
toolbox[labelalign="end"] toolbarpaletteitem
  .toolbarbutton-1[type="menu-button"] > .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal;
}

.toolbarbutton-1:not([type="menu-button"]),
.toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 28px;
}

toolbar:not([mode="icons"]) .toolbarbutton-1:not([type="menu-button"]),
toolbar:not([mode="icons"]) .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 0;
}

.toolbarbutton-1 .toolbarbutton-icon {
  padding: 1px;
}

.toolbarbutton-1[disabled="true"] .toolbarbutton-text,
.toolbarbutton-1[type="menu-button"] > .toolbarbutton-menubutton-button[disabled="true"]
  > .toolbarbutton-icon {
  opacity: .4;
}

/* Separator between menu and split type buttons */
.toolbarbutton-1:not(:hover):not(:active):not([open]):not([checked="true"]) >
.toolbarbutton-menubutton-dropmarker::before,
.toolbarbutton-1[disabled="true"] >
.toolbarbutton-menubutton-dropmarker::before {
  content: "";
  display: -moz-box;
  width: 1px;
  height: 18px;
  margin-inline-start: -5px;
  margin-inline-end: 4px;
  margin-bottom: 2px;
  background: hsla(0, 0%, 0%, .3) padding-box;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .2);
}

.toolbarbutton-1[disabled="true"] .toolbarbutton-icon,
.toolbarbutton-1[type="menu-button"]
  > .toolbarbutton-menubutton-button[disabled="true"] > .toolbarbutton-icon,
.toolbarbutton-1[disabled="true"] > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1[disabled="true"] > .toolbarbutton-menubutton-dropmarker
  > .dropmarker-icon,
.toolbarbutton-1:not(:hover):-moz-window-inactive .toolbarbutton-icon,
.toolbarbutton-1:not(:hover):-moz-window-inactive
  > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1:not(:hover):-moz-window-inactive
  > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  opacity: .5;
}

.toolbarbutton-1:-moz-window-inactive[disabled="true"] > .toolbarbutton-icon,
.toolbarbutton-1:-moz-window-inactive[type="menu-button"]
  > .toolbarbutton-menubutton-button[disabled="true"] > .toolbarbutton-icon {
  opacity: .25;
}

.toolbarbutton-1 > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  list-style-image: url(chrome://messenger/skin/icons/toolbarbutton-arrow.svg);
}

.toolbarbutton-menu-dropmarker > .dropmarker-icon,
.toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  width: 7px;
  height: 5px;
}

.toolbarbutton-1 > .toolbarbutton-menu-dropmarker {
  margin-inline-end: 1px;
  padding-inline-start: 4px;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  width: 16px;
  padding: 2px 4px !important;
}

toolbar:not([mode="icons"]) .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  width: auto;
}

toolbar[mode="icons"] .toolbarbutton-1 > menupopup {
  margin-top: 1px;
}

#alltabs-button,
#tabbar-toolbar .toolbarbutton-1,
#tabbar-toolbar .toolbarbutton-1[type="menu-button"] {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* :::::: throbber :::::::::: */

#throbber-box {
  width: 17px;
  margin: 0 4px;
}

@media (min-resolution: 2dppx) {
  #throbber-box[busy="true"] {
    list-style-image: url("chrome://global/skin/icons/loading@2x.png");
  }

  #throbber-box > image {
    width: 17px;
    margin: 0 4px;
  }

  #wrapper-throbber-box > #throbber-box {
    list-style-image: url("chrome://messenger/skin/icons/notloading@2x.png");
  }
}

/* ::::: online/offline icons ::::: */

#offline-status {
  padding-inline-start: 3px;
}

@media (min-resolution: 2dppx) {
  #offline-status[offline="true"] {
    list-style-image: url("chrome://messenger/skin/icons/offline@2x.png");
  }

  #offline-status {
    list-style-image: url("chrome://messenger/skin/icons/online@2x.png");
  }

  #offline-status > .toolbarbutton-icon {
    width: 16px;
    height: 16px;
  }
}

/* ::::: directional button icons ::::: */

.up,
.down {
  min-width: 0;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 1;
}

.up {
  list-style-image: url("chrome://global/skin/icons/arrow-up-12.svg");
}

.down {
  list-style-image: url("chrome://global/skin/icons/arrow-dropdown-12.svg");
}

.up[disabled="true"],
.down[disabled="true"] {
  fill-opacity: .5;
}

/* ::::: Tabs ::::: */

tabmail > tabbox {
  margin: 0;
}

/* ::::: Trees ::::: */

treechildren::-moz-tree-row {
  min-height: 19px;
}

treechildren::-moz-tree-cell-text {
  padding-inline-start: 2px;
}

/* message column icons */

.treecol-image image {
  -moz-context-properties: fill;
  fill: currentColor;
}

treecol.treecol-image:hover:active {
  padding-inline-start: 1px;
}

:root[lwt-tree] treechildren::-moz-tree-row(odd) {
  background-color: transparent;
}

:root[lwt-tree] #threadTree treechildren::-moz-tree-row(untagged, selected),
:root[lwt-tree] tree:not(#threadTree) treechildren::-moz-tree-row(selected),
:root[lwt-tree]:-moz-window-inactive #threadTree treechildren::-moz-tree-row(selected) {
  border-color: var(--sidebar-highlight-background-color, hsla(0,0%,80%,.3));
  background: var(--sidebar-highlight-background-color, hsla(0,0%,80%,.3));
}

:root[lwt-tree-brighttext] #threadTree treechildren::-moz-tree-row(untagged, selected),
:root[lwt-tree-brighttext] tree:not(#threadTree) treechildren::-moz-tree-row(selected),
:root[lwt-tree-brighttext]:-moz-window-inactive #threadTree treechildren::-moz-tree-row(selected) {
  border-color: var(--sidebar-highlight-background-color, rgba(249,249,250,.1));
  background: var(--sidebar-highlight-background-color, rgba(249,249,250,.1));
}

/* ::::: Tabs in Titlebar :::::: */

/**
 * For tabs in titlebar on OS X, we stretch the titlebar down so that the
 * tabstrip can overlap it.
 */
#messengerWindow[tabsintitlebar] > #titlebar {
  min-height: calc(var(--tab-min-height) + var(--space-above-tabbar));
}

#messengerWindow[tabsintitlebar="true"]:not(:-moz-lwtheme) > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#messengerWindow:not([tabsintitlebar]) .titlebar-placeholder {
  visibility: collapse;
}

/* NB: these would be margin-inline-start/end if it wasn't for the fact that OS X
 * doesn't reverse the order of the items in the titlebar in RTL mode. */
.titlebar-placeholder[type="caption-buttons"],
#titlebar-buttonbox {
  margin-right: 12px;
  margin-left: 12px;
}

.titlebar-placeholder[type="fullscreen-button"],
#titlebar-fullscreen-button {
  margin-right: 7px;
  margin-left: 7px;
}

#titlebar-fullscreen-button {
  -moz-appearance: -moz-mac-fullscreen-button;
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
}

/* Fullscreen and caption buttons don't move with RTL on OS X so override the automatic ordering. */
#titlebar-fullscreen-button:-moz-locale-dir(ltr),
#titlebar-buttonbox-container:-moz-locale-dir(rtl),
.titlebar-placeholder[type="fullscreen-button"]:-moz-locale-dir(ltr),
.titlebar-placeholder[type="caption-buttons"]:-moz-locale-dir(rtl) {
  -moz-box-ordinal-group: 1000;
}

#titlebar-fullscreen-button:-moz-locale-dir(rtl),
#titlebar-buttonbox-container:-moz-locale-dir(ltr),
.titlebar-placeholder[type="caption-buttons"]:-moz-locale-dir(ltr),
.titlebar-placeholder[type="fullscreen-button"]:-moz-locale-dir(rtl) {
  -moz-box-ordinal-group: 0;
}

#messengerWindow[sizemode="fullscreen"] .titlebar-placeholder[type="fullscreen-button"],
#messengerWindow[sizemode="fullscreen"] .titlebar-placeholder[type="caption-buttons"] {
  display: none;
}

button[type="menu-button"] {
  margin: 0 6px;
}

button[type="menu-button"] > .button-box > button {
  margin-top: -1px;
  margin-bottom: -3px;
  margin-inline-start: -7px;
  margin-inline-end: 2px;
}

button.notification-button > .button-box > button {
  -moz-appearance: none;
  margin-top: 0;
  margin-bottom: -1px;
  margin-inline-start: 1px;
  margin-inline-end: 5px;
  padding-inline-end: 5px;
  border-inline-end: 1px solid rgba(0,0,0,.35);
}

.button-menubutton-dropmarker {
  -moz-appearance: none;
}

button .dropmarker-icon {
  list-style-image: url("chrome://global/skin/icons/arrow-dropdown-12.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

button[is="button-menu-button"] > .button-box > dropmarker {
  margin-inline-end: -5px;
}

.notification-button > .button-box > dropmarker {
  margin-top: 1px;
}

/* Status bar */

#status-bar:-moz-lwtheme  {
  padding-top: 1px;
}

.statusbar {
  min-width: 1px; /* DON'T DELETE!
  Prevents hiding of scrollbars in browser when window is made smaller.*/
  min-height: 15px !important;
  margin: 0 !important;
  /* need to use padding-inline-end when/if bug 631729 gets fixed: */
  padding: 0 16px 1px 1px;
  -moz-appearance: statusbar;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
}

.statusbar:-moz-lwtheme {
  -moz-appearance: none;
  background: none;
  border-style: none;
  text-shadow: inherit;
}

.statusbar:-moz-lwtheme-brighttext {
  --tabs-border-color: hsla(0,0%,60%,.4);
}

/* Status panel */

.statusbarpanel-iconic {
  padding: 0;
}

.statuspanel-label {
  margin: 0;
  padding: 2px 4px;
  background-color: #f9f9fa;
  border: 1px none #ddd;
  border-top-style: solid;
  color: #444;
  text-shadow: none;
}

.statuspanel-label:-moz-locale-dir(ltr):not([mirror]),
.statuspanel-label:-moz-locale-dir(rtl)[mirror] {
  border-right-style: solid;
  border-top-right-radius: .3em;
  margin-right: 1em;
}

.statuspanel-label:-moz-locale-dir(rtl):not([mirror]),
.statuspanel-label:-moz-locale-dir(ltr)[mirror] {
  border-left-style: solid;
  border-top-left-radius: .3em;
  margin-left: 1em;
}

.contentTabInstance {
  background-color: -moz-dialog;
}

.contentTabInstance:-moz-lwtheme {
  background-color: transparent;
  background-image: linear-gradient(transparent 40px, -moz-dialog 40px);
}

findbar {
  background: linear-gradient(#e8e8e8, #d0d0d0) repeat-x;
  border-top: 1px solid #888;
  color: -moz-DialogText;
  text-shadow: none;
}

:root:not([lwtheme-image]) findbar:-moz-lwtheme {
  background-color: var(--lwt-accent-color);
  background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor));
  border-top-color: var(--chrome-content-separator-color);
  color: var(--toolbar-color);
}

.contentTabAddress * {
  text-shadow: none;
}

/* ::::: groupbox ::::: */

groupbox {
  -moz-appearance: groupbox;
  padding: 0 8px 5px;
  margin: 6px;
  margin-top: 1.5em;
}

groupbox > .groupbox-title > .header {
  font-size: 1.18em;
  font-weight: normal;
  margin-top: -1.3em;
  margin-bottom: 5px;
  margin-inline-start: -5px;
}

