/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/tabmail.css");

/**
 * Tabmail Tabs
 */

#tabs-toolbar {
  padding-top: var(--space-above-tabbar);
}

#tabs-toolbar:not(:-moz-lwtheme) {
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

:root[tabsintitlebar][sizemode=normal] > #navigation-toolbox > #tabs-toolbar >
  #tabbar-toolbar {
  margin-inline-start: 40px;
}

/**
 * Tab
 */

.tab-label {
  margin-top: 1px;
  margin-bottom: 0;
}

:root[tabsintitlebar]:not([sizemode=fullscreen]) .tabmail-tab:first-child::before {
  content: '';
  display: -moz-box;
  margin-inline-start: 0;
}

:root[tabsintitlebar]:not([sizemode=fullscreen])
  .tabmail-tab:not([visuallyselected]):first-child {
  margin-inline-start: 1px;
}

.tabmail-tab[type="glodaSearch"] .tab-stack > .tab-content > .tab-icon-image {
  transform: scaleX(-1);
}

.tabmail-tab:not(:hover) > .tab-stack > .tab-content >
  .tab-icon-image:not([selected="true"]) {
  opacity: .9;
}

.tab-label-container:not([selected="true"]) {
  opacity: .7;
}

.tabmail-tab,
.tabs-newtab-button {
  font: message-box;
  border: none;
}

/* override the selected tab toolkit color/text-shadow */
.tabmail-tab[selected="true"]:not(:-moz-lwtheme) {
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.tabmail-tab[selected="true"]:not(:-moz-lwtheme) {
  -moz-font-smoothing-background-color: var(--toolbar-bgcolor);
}

.tabmail-tab:focus > .tab-stack > .tab-content > .tab-label-container {
  box-shadow: var(--focus-ring-box-shadow);
}

:root[tabsintitlebar][extradragspace] .tabmail-tab::after,
:root[tabsintitlebar][extradragspace] .tabmail-tab::before {
  margin-top: 0;
  margin-bottom: var(--tab-toolbar-overlap);
}

#tabmail-tabs {
  -moz-box-align: stretch;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  position: static;
}

tabmail > tabbox > tabpanels {
  -moz-appearance: none !important;
}

/**
 * Tab Drag and Drop
 */

.tab-drop-indicator-box {
  -moz-box-align: center;
}

.tab-drop-indicator {
  list-style-image: url(icons/dragIndicator.png);
}

@media (min-resolution: 2dppx) {
  .tab-drop-indicator {
    list-style-image: url(icons/dragIndicator@2x.png);
    width: 12px;
  }
}

/**
 * Tabstrip close button
 */

.tabs-closebutton {
  margin-top: 1px;
}

.tabs-closebutton:hover > .toolbarbutton-icon {
  background-image: none !important;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

.tabmail-arrowscrollbox > .scrollbutton-up,
.tabmail-arrowscrollbox > stack > .scrollbutton-down {
  padding: 0 4px !important;
  margin: 0 0 1px !important;
}

.tabmail-arrowscrollbox >
  .scrollbutton-up:not([disabled="true"]):hover,
.tabmail-arrowscrollbox > stack >
  .scrollbutton-down:not([disabled="true"]):hover {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.15));
}

.tabmail-arrowscrollbox >
  .scrollbutton-up:not([disabled="true"]):hover:active,
.tabmail-arrowscrollbox > stack >
  .scrollbutton-down:not([disabled="true"]):hover:active {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.3));
}

#tabs-toolbar[brighttext] .tabmail-arrowscrollbox >
  .scrollbutton-up:not([disabled="true"]):hover,
#tabs-toolbar[brighttext] .tabmail-arrowscrollbox > stack >
  .scrollbutton-down:not([disabled="true"]):hover {
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25));
}

#tabs-toolbar[brighttext] .tabmail-arrowscrollbox >
  .scrollbutton-up:not([disabled="true"]):hover:active,
#tabs-toolbar[brighttext] .tabmail-arrowscrollbox > stack >
  .scrollbutton-down:not([disabled="true"]):hover:active {
  background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35));
}

.tabmail-arrowscrollbox > .scrollbutton-up[disabled="true"],
.tabmail-arrowscrollbox > stack > .scrollbutton-down[disabled="true"] {
  --toolbarbutton-icon-fill-opacity: .5;
  background-image: none;
}

/**
 * All Tabs Buttons
 */

.tabs-alltabs-box {
  margin: 0;
}

.tabs-alltabs-box-animate {
  margin: 1px 0px 0px;
  width: 25px;
  background-color: #669CFF;
  opacity: 0.0;
}

/**
 * All Tabs Menupopup
 */

@media (min-resolution: 1.1dppx) {
  alltabs-item[busy] {
    list-style-image: url("chrome://global/skin/icons/loading@2x.png") !important;
  }
}

/* Content Tabs */
.contentTabAddress {
  height: 31px;
  padding-left: 10px;
  padding-right: 10px;
}
