# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = En savoir plus
accessibility-text-label-header = Noms et étiquettes au format texte

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Avertissement
accessibility-fail =
    .alt = Erreur
accessibility-best-practices =
    .alt = Bonnes pratiques

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Utiliser l’attribut <code>alt</code> pour étiqueter les éléments <div>area</div> qui ont l’attribut <span>href</span>. <a>Pour en savoir plus</a>
accessibility-text-label-issue-dialog = Les dialogues doivent être étiquetés. <a>En savoir plus</a>
accessibility-text-label-issue-document-title = Les documents doivent avoir un élément <code>title</code>. <a>En savoir plus</a>
accessibility-text-label-issue-embed = Le contenu intégré doit être étiqueté. <a>En savoir plus</a>
accessibility-text-label-issue-figure = Les illustrations avec des légendes facultatives doivent être étiquetées. <a>En savoir plus</a>
accessibility-text-label-issue-fieldset = Les éléments <code>fieldset</code> doivent être étiquetés. <a>En savoir plus</a>
accessibility-text-label-issue-fieldset-legend = Utilisez l’élément <code>legend</code> pour étiqueter les éléments <span>fieldset</span>. <a>En savoir plus</a>
accessibility-text-label-issue-form = Les éléments de formulaire doivent être étiquetés. <a>En savoir plus</a>
accessibility-text-label-issue-form-visible = Les éléments de formulaire doivent avoir une étiquette de texte visible. <a>En savoir plus</a>
accessibility-text-label-issue-frame = Les éléments <code>frame</code> doivent être étiquetés. <a>En savoir plus</a>
accessibility-text-label-issue-glyph = Utilisez l’attribut <code>alt</code> pour étiqueter les éléments <span>mglyph</span>. <a>En savoir plus</a>
accessibility-text-label-issue-heading = Les titres doivent être étiquetés. <a>En savoir plus</a>
accessibility-text-label-issue-heading-content = Les titres doivent avoir un contenu textuel visible. <a>En savoir plus</a>
accessibility-text-label-issue-iframe = Utilisez l’attribut <code>title</code> pour décrire le contenu d’un <span>iframe</span>. <a>En savoir plus</a>
accessibility-text-label-issue-image = Le contenu avec des images doit être étiqueté. <a>En savoir plus</a>
accessibility-text-label-issue-interactive = Les éléments interactifs doivent être étiquetés. <a>En savoir plus</a>
accessibility-text-label-issue-optgroup-label = Utilisez l’attribut <code>label</code> pour étiqueter les éléments <span>optgroup</span>. <a>En savoir plus</a>
accessibility-text-label-issue-toolbar = Les barres d’outils doivent être étiquetées lorsqu’il y a plus d’une barre d’outils. <a>En savoir plus</a>
