/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tabmail:-moz-lwtheme {
  text-shadow: none;
}

#messengerBox {
  color: -moz-DialogText;
  background-color: -moz-Dialog;
}

#folderUnreadCol,
#folderTotalCol,
#folderSizeCol {
  text-align: right;
}

#folderUnreadCol:-moz-locale-dir(rtl),
#folderTotalCol:-moz-locale-dir(rtl),
#folderSizeCol:-moz-locale-dir(rtl) {
  text-align: left;
}

#folderNameCol [sortDirection="ascending"],
#folderNameCol [sortDirection="descending"] {
  list-style-image: none;
}

/* ::::: thread decoration ::::: */

treechildren::-moz-tree-cell-text(read) {
  font-weight: normal;
}

treechildren::-moz-tree-cell-text(unread) {
  font-weight: bold;
}

:root[lwt-tree-brighttext] treechildren::-moz-tree-cell-text(untagged, unread) {
  color: #fff !important;
}

/* on a collapsed thread, if the top level message is read, but the thread has
 * unread children, underline the text.  4.x mac did this, very slick
 */
treechildren::-moz-tree-cell-text(container, closed, hasUnread, read) {
  text-decoration: underline;
}

/* ..... do not show icons on grouped by sort dummy header rows ..... */

treechildren::-moz-tree-image(subjectCol, dummy),
treechildren::-moz-tree-image(flaggedCol, dummy),
treechildren::-moz-tree-image(junkStatusCol, dummy) ,
treechildren::-moz-tree-image(correspondentCol, dummy),
treechildren::-moz-tree-image(unreadButtonColHeader, dummy) {
  list-style-image: none !important;
}

/* ..... junkStatus column ..... */

.junkStatusHeader {
  padding-inline-end: 3px;
}

/* ..... subject column ..... */

treechildren::-moz-tree-cell-text(subjectCol) {
  padding-inline-start: 0;
}

/* ..... correspondent column ..... */

treechildren::-moz-tree-image(correspondentCol) {
  list-style-image: url("chrome://messenger/skin/icons/correspondents.svg#right");
}

#threadTree:-moz-locale-dir(ltr) > treechildren::-moz-tree-image(correspondentCol, outgoing) {
  list-style-image: url("chrome://messenger/skin/icons/correspondents.svg#right-show");
}

#threadTree:-moz-locale-dir(rtl) > treechildren::-moz-tree-image(correspondentCol, outgoing) {
  list-style-image: url("chrome://messenger/skin/icons/correspondents.svg#left-show");
}

#sizeCol,
#unreadCol,
#totalCol {
  text-align: right;
}

#sizeCol:-moz-locale-dir(rtl),
#unreadCol:-moz-locale-dir(rtl),
#totalCol:-moz-locale-dir(rtl) {
  text-align: left;
}

/* ..... message pane adjustments ..... */

/* We need to hide overflow in messagepanebox, so that resizing doesn't spill
   header content over the statusbar. */

#messagepanebox {
  overflow: hidden;
}

#multimessage {
  background-color: -moz-Field;
}
