/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --autocomplete-popup-background: -moz-field;
  --autocomplete-popup-color: -moz-fieldtext;
  --autocomplete-popup-border-color: ThreeDShadow;
  --autocomplete-popup-highlight-background: Highlight;
  --autocomplete-popup-highlight-color: HighlightText;
  /* Note: Setting this to 0 (without px) breaks CSS calculations for OSX. */
  --space-above-tabbar: 0px;
}

:root:-moz-lwtheme {
  --toolbarbutton-icon-fill-opacity: 1;
  --autocomplete-popup-background: #fff;
  --autocomplete-popup-color: #0c0c0d;
  --urlbar-popup-url-color: hsl(210, 77%, 47%);
  --urlbar-popup-action-color: hsl(178, 100%, 28%);
}

:root[lwt-popup-brighttext] {
  --urlbar-popup-url-color: #0a84ff;
  --urlbar-popup-action-color: #30e60b;
}

:root[extradragspace][tabsintitlebar]:not([inFullscreen]) {
  --space-above-tabbar: 8px;
}

/* Styles for the default system dark theme */
:root[lwt-default-theme-in-dark-mode] {
  --sidebar-border-color: #606064 !important;
  /* Toolbar buttons */
  --lwt-toolbarbutton-hover-background: rgba(179, 179, 179, 0.4);
  --lwt-toolbarbutton-active-background: rgba(179, 179, 179, 0.6);

  /* !important to override LightweightThemeManager.addBuiltInTheme in
     mailGlue.js */
  --autocomplete-popup-background: #2a2a2e !important;
  --autocomplete-popup-highlight-background: #0060df;

  /* composer header fields bottom border */
  --composer-header-border-color: rgb(127, 127, 128);
}

/* Make the new mail indicator better visible on dark theme */
:root[lwt-default-theme-in-dark-mode] #folderTree:-moz-lwtheme-brighttext
  treechildren::-moz-tree-cell-text(folderNameCol, isServer-true, biffState-NewMail),
:root[lwt-default-theme-in-dark-mode] #folderTree:-moz-lwtheme-brighttext
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
:root[lwt-default-theme-in-dark-mode] #folderTree:-moz-lwtheme-brighttext
  treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true) {
  color: #0aa5ff !important;
}

/* Quick-Filter-Bar */
:root[lwt-default-theme-in-dark-mode] #quick-filter-bar:-moz-lwtheme {
  background-color: var(--lwt-accent-color);
  color: var(--lwt-text-color);
}

:root[lwt-default-theme-in-dark-mode] #quick-filter-bar:-moz-lwtheme-brighttext {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background);
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background);

  --toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background);

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background);
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background);
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background) inset;
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:-moz-lwtheme {
  background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,.8));
  color: var(--lwt-toolbar-field-color, black);
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:not([focused="true"]):-moz-lwtheme {
  border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25));
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:-moz-lwtheme:hover {
  background-color: var(--lwt-toolbar-field-background-color, white);
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:-moz-lwtheme-brighttext:hover {
  box-shadow: 0 1px 3px rgba(255,255,255,.15);
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:-moz-lwtheme[focused="true"] {
  background-color: var(--lwt-toolbar-field-focus, var(--lwt-toolbar-field-background-color, white));
  color: var(--lwt-toolbar-field-focus-color, var(--lwt-toolbar-field-color, black));
  border-color: var(--toolbar-field-focus-border-color);
}

toolbox[labelalign="end"] > toolbar[mode="full"] .toolbarbutton-1 .toolbarbutton-text {
  padding-inline-start: 2px;
}

toolbox[labelalign="end"] > toolbar[mode="full"] deck .toolbarbutton-text {
  text-align: start;
}

.toolbarbutton-1[type="menu"] {
  -moz-binding: url("chrome://messenger/content/generalBindings.xml#menu-vertical");
}

toolbox[labelalign="end"] > toolbar[mode="full"] .toolbarbutton-1[type="menu"] {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton");
}

.toolbarbutton-1 .toolbarbutton-icon {
  width: 18px;
  height: 18px;
}

description.error {
  color: #f00;
}

#notification-popup-box > image.notification-anchor-icon {
  width: 16px;
  height: 16px;
  -moz-context-properties: fill, fill-opacity;
  fill: var(--lwt-toolbarbutton-icon-fill, currentColor);
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

/* notification anchors should only be visible when their associated
   notifications are */
.notification-anchor-icon {
  -moz-user-focus: normal;
}

.notification-anchor-icon:not([showing]) {
  display: none;
}

.addons-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.svg");
}

.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-origin-blocked"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-blocked.svg);
}

.popup-notification-icon[popupid="addon-progress"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-downloading.svg);
}

.popup-notification-icon[popupid="addon-install-failed"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-error.svg);
}

.popup-notification-icon[popupid="addon-install-confirmation"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-confirm.svg);
}

#addon-install-confirmation-notification[warning]
    .popup-notification-icon[popupid="addon-install-confirmation"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-warning.svg);
}

.popup-notification-icon[popupid="addon-install-complete"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-installed.svg);
}

.app-update-icon {
  list-style-image: url("chrome://messenger/skin/icons/app-update-badge.svg");
  background-color: #74BF43;
  border-radius: 50%;
}

.popup-notification-icon[popupid="app-update"] {
  background: #74BF43 url("chrome://messenger/skin/icons/app-update.svg") no-repeat center;
  border-radius: 50%;
}

.popup-notification-icon[popupid="app-update"].updates-unsupported {
  background-color: #FFE900;
}

html|ul.addon-installed-list {
  margin-top: 0;
}

#tabbar-toolbar {
  -moz-appearance: none;
  padding: 0;
}

#tabbar-toolbar[customizing="true"] {
  min-width: 16px;
  min-height: 10px;
}

.chromeclass-toolbar toolbarseparator:-moz-lwtheme {
  -moz-appearance: none;
  min-width: 1px;
  background-image: linear-gradient(
                    transparent 4px,
                    var(--lwt-toolbar-vertical-separator, rgba(0,0,0,.2)) 4px,
                    var(--lwt-toolbar-vertical-separator, rgba(0,0,0,.2)) calc(100% - 4px),
                    transparent calc(100% - 4px));
  margin-left: 1px;
  margin-right: 1px;
}

.chromeclass-toolbar[brighttext] toolbarseparator:-moz-lwtheme {
  background-image: linear-gradient(
                    transparent 4px,
                    var(--lwt-toolbar-vertical-separator, rgba(255,255,255,.3)) 4px,
                    var(--lwt-toolbar-vertical-separator, rgba(255,255,255,.3)) calc(100% - 4px),
                    transparent calc(100% - 4px));
}

:root[lwt-tree] tree,
:root[lwt-tree] #folderPane-toolbar {
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
}

:root[lwt-tree] tree {
  scrollbar-color: rgba(204,204,204,.5) rgba(230,230,235,.5);
}

:root[lwt-tree-brighttext] tree {
  scrollbar-color: rgba(249,249,250,.4) rgba(20,20,25,.3);
}

:root[lwt-tree] #folderPane-toolbar {
  background-image: none;
  border-bottom-color: var(--sidebar-border-color, hsla(0,0%,60%,.4));
}

:root[lwt-tree-brighttext] #folderPane-toolbar {
  border-bottom-color: var(--sidebar-border-color, rgba(249,249,250,.2));
}

:root[lwt-tree] treechildren::-moz-tree-image,
:root[lwt-tree] treechildren::-moz-tree-twisty,
:root[lwt-tree] #threadTree treechildren::-moz-tree-cell-text(untagged),
:root[lwt-tree] tree:not(#threadTree) treechildren::-moz-tree-cell-text {
  color: var(--sidebar-text-color);
}

:root[lwt-tree] treechildren::-moz-tree-image(selected),
:root[lwt-tree] treechildren::-moz-tree-twisty(selected),
:root[lwt-tree] #threadTree treechildren::-moz-tree-cell-text(untagged, selected),
:root[lwt-tree] tree:not(#threadTree) treechildren::-moz-tree-cell-text(selected) {
  color: var(--sidebar-highlight-text-color, var(--sidebar-text-color));
}

:root[lwt-tree] #folderTree >
  treechildren::-moz-tree-cell-text(folderNameCol, isServer-true, biffState-NewMail, selected, focus),
:root[lwt-tree] #folderTree >
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true, selected, focus),
:root[lwt-tree] #folderTree >
  treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true, selected, focus) {
  color: var(--sidebar-highlight-text-color, var(--sidebar-text-color)) !important;
}

:root[lwt-tree] treechildren::-moz-tree-line {
  border-color: var(--sidebar-text-color);
}

:root[lwt-tree] treechildren::-moz-tree-line(selected) {
  border-color: var(--sidebar-highlight-text-color, var(--sidebar-text-color));
}

:root[lwt-tree] treecol:not([hideheader="true"]),
:root[lwt-tree] treecolpicker:not([hideheader="true"]) {
  -moz-appearance: none;
  color: inherit;
  background-color: transparent;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--sidebar-border-color, hsla(0,0%,60%,.4));
}

:root[lwt-tree] treecol {
  border-inline-end: 1px solid var(--sidebar-border-color, hsla(0,0%,60%,.4));
}

:root[lwt-tree-brighttext] treecol,
:root[lwt-tree-brighttext] treecolpicker {
  border-color: var(--sidebar-border-color, rgba(249,249,250,.2));
}

:root[lwt-tree-brighttext] treecol {
  border-inline-end-color: var(--sidebar-border-color, rgba(249,249,250,.2));
}

:root[lwt-tree] treecol:hover,
:root[lwt-tree] treecolpicker:hover {
  background-color: hsla(0,0%,60%,.4);
}

:root[lwt-tree-brighttext] treecol:hover,
:root[lwt-tree-brighttext] treecolpicker:hover {
  background-color: rgba(249,249,250,.2);
}

.toolbarbutton-1:not(.qfb-tag-button),
.toolbarbutton-menubutton-button {
  color: inherit !important;
}

/* Don't show a menupopup in customize mode */
toolbarpaletteitem menulist,
toolbarpaletteitem toolbarbutton {
  pointer-events: none;
}

/* :::::: throbber :::::::::: */

#throbber-box {
  width: 16px;
  min-height: 16px;
  margin: 0 3px;
}

#throbber-box[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading.png");
}

#wrapper-throbber-box > #throbber-box {
  list-style-image: url("chrome://messenger/skin/icons/notloading.png");
}

/* ::::: Status bar ::::: */

#status-bar:-moz-lwtheme {
  border-top: 1px solid var(--tabs-border-color);
}

#status-bar:-moz-lwtheme toolbarbutton {
  color: var(--lwt-text-color, inherit);
}

statusbarpanel,
.statusbarpanel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  -moz-box-align: center;
  -moz-box-pack: center;
  padding: 0 4px;
}

/* ::::: online/offline icons ::::: */

#offline-status {
  padding: 0 2px;
  list-style-image: url("chrome://messenger/skin/icons/online.png");
  -moz-appearance: none;
}

#offline-status[offline="true"] {
  list-style-image: url("chrome://messenger/skin/icons/offline.png");
}

/* ..... status bar adjustments ..... */

#quotaMeter {
  min-width: 8em;
  max-width: 8em;
  border-color: ThreeDShadow;
}

#quotaPanel ::-moz-progress-bar {
  -moz-appearance: none;
  background-color: #45a1ff;
  opacity: .75;
}

#quotaPanel[alert="warning"] ::-moz-progress-bar {
  background-color: orange;
}

#quotaPanel[alert="critical"] ::-moz-progress-bar {
  background-color: red;
  opacity: .6;
}

#quotaLabel {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  color: black;
}

/* ::::: searchTermOverlay ::::: */

#searchTermList > richlistitem[highlight = "true"] {
  animation: highlight .4s ease-in;
}

@keyframes highlight {
  from { background-color: Highlight; }
  to { background-color: transparent; }
}

#findbar-beforeReplaceSeparator {
  height: 16px;
}

/* ::::: Address Book menuitem icons ::::: */

.abMenuItem[AddrBook="true"] {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

.abMenuItem[MailList="true"] {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/ablist.png");
}

.abMenuItem[AddrBook="true"][IsRemote="true"] {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook.png");
}

.abMenuItem[AddrBook="true"][IsRemote="true"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/secure-remote-addrbook.png");
}

/* ::::: Panel toolbarbuttons ::::: */

.panelTitle {
  margin-top: 8px;
  margin-inline-start: 7px;
  margin-bottom: 6px;
}

.panelButton {
  -moz-appearance: none;
  min-height: 24px;
  padding: 4px 6px;
  background-color: transparent;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.panelButton:focus {
  outline: 0;
}

.panelButton:not(:-moz-any([disabled],[open],:active)):-moz-any(:hover,:focus) {
  background-color: var(--arrowpanel-dimmed);
}

.panelButton:not([disabled]):-moz-any([open],:hover:active) {
  background-color: var(--arrowpanel-dimmed-further);
  box-shadow: 0 1px 0 hsla(210, 4%, 10%, .03) inset;
}

.panelButton > .toolbarbutton-text {
  text-align: start;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
}

.panelButton[prettykey]::after {
  content: attr(prettykey);
  float: right;
  color: GrayText;
}

toolbarpaletteitem toolbarspacer,
toolbarpaletteitem toolbarspring {
  -moz-window-dragging: no-drag;
}

/* ::::: MailExtension panels ::::: */

.mail-extension-panel {
  font: menu;
}

.mail-extension-panel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
  overflow: hidden;
}

/* :::: autocomplete labels :::: */

html|span.ac-emphasize-text {
  font-weight: bold;
}

.autocomplete-richlistitem:not([ac-comment=""]) > .ac-url,
.autocomplete-richlistitem:not([ac-comment=""]) > .ac-separator {
  display: -moz-box;
}

.autocomplete-richlistitem:not([ac-comment=""]) > .ac-url {
  -moz-box-ordinal-group: 1;
}

.autocomplete-richlistitem:not([ac-comment=""]) > .ac-separator {
  -moz-box-ordinal-group: 2;
}

.autocomplete-richlistitem:not([ac-comment=""]) > .ac-title {
  -moz-box-ordinal-group: 3;
}

.ac-url-text {
  max-width: unset !important;
}

html|input[type="number"] {
  margin: 2px 4px;
}
/* sizes: chars + 8px padding + 1px borders + spin buttons 14+0+10px  */
html|input[type="number"].size2 {
  width: calc(2ch + 44px);
}
html|input[type="number"].size3 {
  width: calc(3ch + 44px);
}
html|input[type="number"].size4 {
  width: calc(4ch + 44px);
}
html|input[type="number"].size5 {
  width: calc(5ch + 44px);
}

