/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabs-toolbar {
  --tabs-top-border-width: 0px;
  --tab-toolbar-overlap: 1px;
}

#tabs-toolbar:-moz-lwtheme {
  --tabline-color: var(--tab-line-color, currentColor);
}

#tabs-toolbar {
  background-image: linear-gradient(to top, var(--tabs-border-color) 1px,
                    transparent 1px);
}

.tabmail-arrowscrollbox {
  min-height: var(--tab-min-height);
}

.tab-stack {
  min-height: inherit;
}

.tabmail-tab {
  -moz-appearance: none;
  -moz-box-align: stretch;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  /* override margin and padding from tabbox.css */
  margin: 0 !important;
  margin-inline-end: 1px !important;
  padding: 0 !important;
  list-style-image: url("chrome://messenger/skin/icons/file-item.svg");
}

/* The selected tab should appear above adjacent tabs and the highlight
   of #tabs-toolbar */
.tabmail-tab[selected=true] {
  position: relative;
  z-index: 2;
}

.tabmail-tab[type="message"] {
  list-style-image: url("chrome://messenger/skin/icons/message.svg");
  -moz-image-region: auto;
}

.tabmail-tab[type="preferencesTab"] {
  list-style-image: url("chrome://mozapps/skin/extensions/utilities.svg");
}

.tabmail-tab[type="glodaSearch"] {
  list-style-image: url("chrome://messenger/skin/icons/search-glass.svg");
}

.tab-content {
  padding-inline-end: 9px;
  padding-inline-start: 9px;
}

.tab-throbber,
.tab-icon-image,
.tab-close-button {
  margin-top: 1px;
}

.tab-throbber,
.tab-icon-image {
  height: 16px;
  width: 16px;
  margin-inline-end: 6px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.tab-label {
  margin-inline-end: 0;
  margin-inline-start: 0;
  /* Maintain consistent alignment in case of font fallback for non-Latin characters. */
  line-height: 1.7em;
}

.tab-content > .tab-close-button {
  margin-inline-start: 1px;
  margin-inline-end: -2px;
  padding: 0;
  -moz-context-properties: fill, fill-opacity, stroke-opacity;
  stroke-opacity: var(--toolbarbutton-icon-fill-opacity);
  -moz-image-region: auto;
}

.tabmail-tab:not([selected]):not(:-moz-lwtheme) {
  color: inherit;
}

.tabmail-tab:-moz-lwtheme {
  color: inherit;
}

.tabmail-tab[visuallyselected=true]:-moz-lwtheme {
  color: var(--lwt-tab-text, var(--toolbar-color, inherit));
}

.tab-line {
  height: 2px;
}

/* Selected tab */

.tab-background {
  border: 1px none transparent;
  background-clip: padding-box;
}

:root[extradragspace],
:root:not([tabsintitlebar]) #tabs-toolbar,
#mail-toolbar-menubar2[toolbarname]:not([autohide=true]) ~ #tabs-toolbar {
  --tabs-top-border-width: 1px;
}

:root[extradragspace] .tab-background,
:root:not([tabsintitlebar]) .tab-background,
#mail-toolbar-menubar2[toolbarname]:not([autohide=true]) ~ #tabs-toolbar > #tabmail-tabs >
  .tabmail-tab > .tab-stack > .tab-background {
  border-top-style: solid;
}

.tab-background[selected=true] {
  border-top-color: var(--tabs-border-color);
  background-color: var(--toolbar-bgcolor);
  background-image: var(--toolbar-bgimage);
  background-repeat: repeat-x;
}

.tab-line[selected=true] {
  background-color: var(--tabline-color);
}

/*
 * LightweightThemeConsumer will set the current lightweight theme's header
 * image to the lwt-header-image variable, used in each of the following rulesets.
 */

/* Lightweight theme on tabs */
.tabmail-tab > .tab-stack > .tab-background[selected=true]:-moz-lwtheme {
  background-attachment: scroll, scroll, fixed;
  background-color: transparent;
  background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent),
                    var(--lwt-selected-tab-background-color, transparent)),
                    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                    var(--lwt-header-image, none);
  background-position: 0 0, 0 0, right top;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto 100%, auto 100%, auto auto;
}

/* Tab hover */

.tabmail-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-color: rgba(0,0,0,.1);
}

#tabs-toolbar[brighttext] > #tabmail-tabs > .tabmail-tab:hover > .tab-stack >
  .tab-background:not([selected=true]) {
  background-color: rgba(255,255,255,.1);
}

.tab-line:not([selected=true]) {
  opacity: 0;
  transform: scaleX(0);
  transition: transform 250ms var(--animation-easing-function),
              opacity 250ms var(--animation-easing-function);
}

.tabmail-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected=true]) {
  background-color: rgba(0,0,0,.2);
  opacity: 1;
  transform: none;
}

#tabs-toolbar[brighttext] > #tabmail-tabs > .tabmail-tab:hover > .tab-stack >
  .tab-background > .tab-line:not([selected=true]) {
  background-color: rgba(255,255,255,.2);
}

.tab-throbber {
  list-style-image: url("chrome://global/skin/icons/loading.png");
  -moz-image-region: auto;
}

@media (min-resolution: 1.1dppx) {
  .tab-throbber {
    list-style-image: url("chrome://global/skin/icons/loading@2x.png");
  }
}

/* Tab separators */
.tabmail-tab::after,
.tabmail-tab::before {
  border-left: 1px solid var(--lwt-background-tab-separator-color, currentColor);
  margin-top: 5px;
  margin-bottom: 4px;
  opacity: 0.3;
}

/* Move the ::before pseudo-element on tabs 1px to the left
 * to avoid resizing the tab when the pseudo-element is removed again
 * (this currently happens when a tab is opened or closed).
 */
.tabmail-tab::before {
  margin-inline-start: -1px;
}

.tabmail-tab:last-child::after {
  margin-inline-end: -1px;
}

/* Show full height tab separators on hover. */
.tabmail-tab:not([selected=true]):last-child:hover::after,
.tabmail-tab:not([selected]) + .tabmail-tab:not([selected]):hover::before,
.tabmail-tab:not([selected]):hover + .tabmail-tab:not([selected])::before,
:root[tabsintitlebar]:not([extradragspace]) #mail-toolbar-menubar2[autohide=true] ~
  #tabs-toolbar > #tabmail-tabs > .tabmail-tab::after,
:root[tabsintitlebar]:not([extradragspace]) #mail-toolbar-menubar2[autohide=true] ~
  #tabs-toolbar > #tabmail-tabs > .tabmail-tab::before {
  margin-top: var(--tabs-top-border-width);
  margin-bottom: var(--tab-toolbar-overlap);
}

/* Show full height tab separators on selected tabs. */
.tabmail-tab[visuallyselected]::before,
.tabmail-tab[visuallyselected]::after,
.tabmail-tab[visuallyselected] + .tabmail-tab::before {
  border-color: var(--tabs-border-color);
  margin-top: 0;
  margin-bottom: var(--tab-toolbar-overlap);
  opacity: 1;
}

.tabmail-tab:last-child::after,
.tabmail-tab + .tabmail-tab::before {
  content: '';
  display: -moz-box;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

.tabmail-arrowscrollbox > .scrollbutton-up,
.tabmail-arrowscrollbox > stack > .scrollbutton-down {
  color: inherit;
  list-style-image: url("chrome://messenger/skin/icons/arrow-left.svg") !important;
  -moz-context-properties: fill, fill-opacity;
  fill: var(--lwt-toolbarbutton-icon-fill, currentColor);
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-locale-dir(rtl),
.tabmail-arrowscrollbox > stack > .scrollbutton-down:-moz-locale-dir(ltr) {
  transform: scaleX(-1);
}

/* Tab Overflow */
.tabmail-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]),
.tabmail-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
  width: 18px;
  background-image: url("chrome://messenger/skin/icons/overflow-indicator.png");
  background-size: 17px 100%;
  border-left: 1px solid;
  border-image: linear-gradient(rgba(255,255,255,.2),
                                rgba(255,255,255,.2) calc(100% - 1px),
                                transparent calc(100% - 1px));
  border-image-slice: 1;
  margin-bottom: 1px;
  pointer-events: none;
  position: relative;
  z-index: 3; /* the selected tab's z-index + 1 */
}

.tabmail-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:-moz-locale-dir(rtl),
.tabmail-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:-moz-locale-dir(ltr) {
  transform: scaleX(-1);
}

.tabmail-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]) {
  margin-inline-start: -1px;
  margin-inline-end: -17px;
}

.tabmail-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
  margin-inline-start: -17px;
  margin-inline-end: -1px;
}

.tabmail-arrowscrollbox > .arrowscrollbox-overflow-start-indicator[collapsed],
.tabmail-arrowscrollbox > .arrowscrollbox-overflow-end-indicator[collapsed] {
  opacity: 0;
}

.tabmail-arrowscrollbox > .arrowscrollbox-overflow-start-indicator,
.tabmail-arrowscrollbox > .arrowscrollbox-overflow-end-indicator {
  transition: opacity 150ms ease;
}

/**
 * All Tabs Button
 */

#alltabs-button {
  list-style-image: url("chrome://messenger/skin/icons/arrow-dropdown.svg");
}

#alltabs-button .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

#alltabs-button > .toolbarbutton-text,
#alltabs-button > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* All Tabs Menupopup */

.alltabs-item {
  list-style-image: url("chrome://messenger/skin/icons/file-item.svg");
}

.alltabs-item[selected] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://global/skin/icons/loading.png") !important;
  -moz-image-region: auto !important;
}

.alltabs-item > .menu-iconic-left {
  fill: MenuText;
}

.alltabs-item[_moz-menuactive="true"] > .menu-iconic-left {
  fill: -moz-menuhovertext;
}

/* Content Tabs */
.chromeTabInstance[collapsed="false"] .contentTabToolbox,
.contentTabInstance[collapsed="false"] .contentTabToolbox {
  display: none;
}

/* Both rules are needed to work properly when re-activating the window */
.contentTabUrlbar:-moz-window-inactive,
.contentTabUrlbar:-moz-window-inactive::selection {
  background-color: transparent;
  color: inherit;
}

.contentTabSecurity {
  position: relative;
  height: 16px;
  width: 16px;
  margin: 2px;
  margin-inline-end: 5px;
  background-repeat: no-repeat;
}

.contentTabSecurity[level="high"] {
  background-image: url("chrome://messenger/skin/icons/connection-secure.svg");
  -moz-context-properties: fill;
  fill: #12bc00;
}

.contentTabSecurity[level="broken"] {
  background-image: url("chrome://messenger/skin/icons/connection-insecure.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

.contentTabSecurity[loading="true"] {
  background-image: url("chrome://global/skin/icons/loading.png");
}

@media (min-resolution: 1.1dppx) {
  #security-button[loading="true"] {
    background-image: url("chrome://global/skin/icons/loading@2x.png");
    background-size: 16px;
  }
}

.contentTabAddress {
  max-width: 100%;
  overflow-x: hidden;
}

.contentTabUrlbar {
  max-width: 100%;
  margin-inline-start: -30px;
}

.contentTabUrlbar > .input-inline {
  padding-inline-start: 25px;
}

.nav-button {
  -moz-appearance: none;
  list-style-image: url(chrome://messenger/skin/icons/navigation.svg);
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 5px 2px;
  margin-inline-start: 2px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.nav-button[disabled="true"] {
  color: inherit;
}

.nav-button[disabled="true"] > .toolbarbutton-icon {
  opacity: 0.4;
}

.nav-button:not([disabled="true"]):hover {
  background-color: #bebebe;
  cursor: pointer;
}

.nav-button > .toolbarbutton-text {
  display: none;
}

.back-btn:-moz-locale-dir(rtl),
.forward-btn:-moz-locale-dir(ltr) {
  transform: scaleX(-1);
}
